<script setup>
import { ref, onMounted, computed } from "vue"
import PlayList from '../../components/PlayList.vue'
import CEModal from "./modal/CEModal.vue"
import { useStore } from 'vuex'
import { useRoute, useRouter } from 'vue-router'
const router = useRouter()

const store = useStore()

const props = defineProps({
  title: String,
  functionn: String,
  menu: String
})
const albumList = ref([])
const proxy = computed(() => {
	return store.state.until.proxy
})

function getAlbum() {
	store.dispatch('album/top50album', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		albumList.value = response.detail.slice(0, 4)
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
	getAlbum()
})


let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}
const showButton = ref(false)
</script>

<template>

<p class="text-3xl mb-8 dark:text-slate-100 text-slate-700 flex">
	<button @click="router.go(-1)" class="bg-tranparent text-slate-300 rounded-full mr-2">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
			<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 6l-6 6l6 6"></path>
		</svg>
	</button> Play List
	<CEModal mode='add' />
</p>

<div class="xm:pl-4 xm:pr-4 md:pl-10 md:pr-10 w-full flex flex-wrap">
	<a href="javascript:void(0)" class=" transition hover:-translate-y-1 hover:scale-11" v-for="album in albumList" :key="album">
		<PlayList
			:image1='proxy+album.image'
			:image2='proxy+album.image'
			:image3='proxy+album.image'
			:image4='proxy+album.image'
			:name='album.name'
			:pk='album.pk'
		/>
	</a>
</div>

<br>
</template>

<style>
</style>
