<script setup>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const emit = defineEmits(["play", "pause"])
defineProps({
  image: String,
  song: String,
  playing_song: Boolean,
  title: String,
  id: Number,
})

let currentSong = computed(() => {
  return store.state.player.song
})

function play(...arg){
  emit("play", )
}
function pause(){
  emit("pause")
}
</script>

<template>
<div class="">
  <div class="relative block xl:w-40 xl:h-40 md:w-24 md:h-24 shadow-2xl bg-slate-300/50 rounded-2xl">
    <div>
      <img :src="image" class="w-full h-full rounded-2xl" alt="" srcset="" />
      <a v-if="!playing_song" @click="play(song, title, id)" href="#" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-16 xl:w-16 md:h-8 md:w-8 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
        </svg>
      </a>
      <a v-else-if="currentSong==song" @click="pause" href="#" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-16 xl:w-16 md:h-8 md:w-8 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </a>
      <a v-else @click="play(song, title, id)" href="#" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-16 xl:w-16 md:h-8 md:w-8 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
  <p  class="text-center xl:w-40 md:w-24 md:text-sm text-lg font-normal text-slate-700">
    {{}} <br />
    <span class="font-bold text-slate-900">{{title}}</span>
  </p>
</div>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
