<script setup>
import { PlayIcon,
         MenuAlt1Icon,
         HomeIcon,
         SearchIcon,
         ClockIcon,
         ArchiveIcon,
         UserIcon,
         HeartIcon,
         UsersIcon,
         StatusOnlineIcon,
         CogIcon,
         LogoutIcon,
         LoginIcon,
         InformationCircleIcon,
         CashIcon,
         XIcon,
         ChevronLeftIcon,
         DotsVerticalIcon } from '@heroicons/vue/outline'
  import {computed, ref} from 'vue'
  import LeftNav from "./leftSideBar/LeftNav.vue"
  import LeftNavDot from "./leftSideBar/LeftNavDot.vue"
  import RightNav from "./rightSideBar/RightNav.vue"

  import { useStore } from 'vuex'
  const store = useStore()
  const stack = computed(() => {
      return store.state.until
  })
  const menu = ref('home')
  const largeur =  ref(window.innerWidth)
  setInterval(()=>{
    largeur.value =  window.innerWidth
  } ,100)
</script>

<template>
<div class="flex h-screen bg-transparent dark:bg-transparent" >
  <div class="flex-1 flex flex-col overflow-hidden" id='canvas'>
    <div class="flex h-full bg-transparent">

      <nav class="flex w-20 h-full bg-blue-800/30 backdrop-blur-xl pr-3">
        <LeftNavDot />
      </nav>



      <main class="flex relative h-full flex-col w-full bg-transparent dark:text-slate-300 text-slate-800 overflow-x-hidden overflow-y-auto">
        <div class="mb-36 mt-2">
          <router-view />
        </div>
        <nav class="left-0 backdrop-blur-2xl bg-white/50 dark:bg-slate-800/50 bottom-0 flex items-center justify-center flex-wrap pb-1 text-blue-900 font-medium 2xm:w-full 2xm:fixed 2xm:h-12 2xm:z-auto md:-z-10 md:h-1/2">
          
          <div class="flex">
            <!-- home -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <HomeIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <HomeIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- discover -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/catalog/Discover/new/new"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <ClockIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <ClockIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- favory -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/favory"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <HeartIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <HeartIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- search -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/search"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <SearchIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <SearchIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- premium -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/premium"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <CashIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <CashIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
          </div>
      </nav>
      </main>



      <nav class="flex min-w-[280px] h-full dark:bg-slate-800 xl:static xl:z-40 2xm:-z-10 2xm:absolute">
        <RightNav />
      </nav>
      
    </div>
  </div>
</div>
</template>

<style>
::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e93a3;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px transparent;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
#canvas {
  background-image: url('api/media/bg.jpg'); 
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
</style>
