<script setup>
import { PlayIcon,
         MenuAlt1Icon,
         HomeIcon,
         SearchIcon,
         ClockIcon,
         ArchiveIcon,
         UserIcon,
         HeartIcon,
         UsersIcon,
         StatusOnlineIcon,
         CogIcon,
         LogoutIcon,
         LoginIcon,
         InformationCircleIcon,
         XIcon } from '@heroicons/vue/outline'
// import Logout from '../../views/Authentification/Logout.vue'
import { useStore } from 'vuex'

const store = useStore()
</script>

<template>
	<div
		class="md:flex-col text-white mt-3 px-0 flex items-center w-full ml-4 pl-3"
	>
    <button
      class="text-white"
      type="button"
    >
      <MenuAlt1Icon class="h-5 w-5"/>
    </button>
		<!-- Collapse -->
		<div
			class="md:flex md:flex-col md:opacity-100"
		>
			<ul class="md:flex-col md:min-w-full list-none">
				<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<HomeIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/search"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<SearchIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/catalog/Discover/new/new"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<ClockIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/albums"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<ArchiveIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<li class="items-center focus:border-r-2 focus:border-blue-500">
					<a
						class="text-sm py-3 focus:text-blue-500 font-semibold flex line-through"
						href="#"
						> <UsersIcon class="h-5 w-5"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>

<style>

</style>
