<script setup>
import { ref, onMounted, computed } from "vue"
import { useStore } from 'vuex'

const store = useStore()

const props = defineProps({
  title: String,
  functionn: String,
  menu: String
})
const albumList = ref([])
const proxy = computed(() => {
	return store.state.until.proxy
})

function getAlbum() {
	store.dispatch('album/top50album', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		albumList.value = response.detail.slice(0, 4)
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
	getAlbum()
})


let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}
</script>

<template>

<div class="flex w-full h mx-auto px-6 pt-2">
	<div class="space-x-2 flex text-sm">
			<a href="javascript:void(0)" class="px-2 h-9 shadow-2xl shadow-orange-400 rounded-3xl flex items-center justify-center btext-slate-500 focus:font-semibold bg-gray-900 text-white font-semibold">
				All categories
			</a>
			<a href="javascript:void(0)" class="px-2 h-9 rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-slate-900 focus:text-white">
				Rap
			</a>
			<a href="javascript:void(0)" class="px-2 h-9 rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-slate-900 focus:text-white">
				Trap
			</a>
			<a href="javascript:void(0)" class="px-2 h-9 rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-slate-900 focus:text-white">
				Hip hop
			</a>
			<a href="javascript:void(0)" class="px-2 h-9 rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-slate-900 focus:text-white">
				jazz
			</a>
			<a href="javascript:void(0)" class="px-2 h-9 rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-slate-900 focus:text-white">
				Classic
			</a>
	</div>
</div>

<div class="relative w-10/12 mt-8">
	<div class="absolute left-10 font-bold">Global Top 50</div>
	<div class="absolute right-10 underline">
		<router-link
			custom
			v-slot="{isExactActive, href, navigate}"
			to="/catalog/Global Top 50/top50/albums"
		>
			<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
				See All
			</a>
		</router-link>
	</div>
</div>

<div class="grid grid-cols-5 gap-0 ml-8 my-8">
	<a href="" class=" transition hover:-translate-y-1 hover:scale-11" v-for="album in albumList" :key="album">
		<div class="w-">
			<div class="xl:w-48 xl:h-48 md:w-[100px] md:h-[110px] mx-5 bg-transparent relative">
				<div class="absolute bottom-4 right-4 block xl:w-40 xl:h-40 md:w-[75px] md:h-[75px] shadow-2xl bg-slate-300 rounded-2xl">
					<div>
						<img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
					</div>
				</div>
				<div class="absolute bottom-2 right-3 block xl:w-36 xl:h-36 md:w-16 md:h-16 shadow-2xl bg-slate-700/30 rounded-2xl">
					<div>
						
					</div>
				</div>
				<router-link
					custom
					v-slot="{href, navigate}"
					:to="'/'+album.name+'/'+album.pk+'/track'"
				>
					<a :href="href" @click="navigate" class="absolute bottom-0 right-0 block xl:w-32 xl:h-32 md:w-16 md:h-16 shadow-2xl bg-slate-300 rounded-2xl">
            <div>
              <img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
            </div>
          </a>
				</router-link>
				<div class="absolute -bottom-14 text-right h-auto w-11/12 text-sm font-bold text-slate-900 dark:text-slate-400">
					{{album.name}} <br> <span class="text-xs font-normal">({{album.tracks.length}} Tracks)</span>
				</div>
			</div>
		</div>
	</a>
</div>

<br> <br>

<div class="relative w-10/12 mt-10">
	<div class="absolute left-10 font-bold">Albums You Might Like</div>
	<div class="absolute right-10 underline">
		<router-link
			custom
			v-slot="{isExactActive, href, navigate}"
			to="/catalog/Global Top 50/top50/albums"
		>
			<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
				See All
			</a>
		</router-link>
	</div>
</div>

<div class="grid grid-cols-5 gap-0 ml-8 my-8">
	<a href="" class=" transition hover:-translate-y-1 hover:scale-11" v-for="i in 4" :key="i">
		<div class="w-">
			<div class="xl:w-48 xl:h-48 md:w-[100px] md:h-[110px] mx-5 bg-transparent relative">
				<div class="absolute bottom-4 right-4 block xl:w-40 xl:h-40 md:w-[75px] md:h-[75px] shadow-2xl bg-slate-300 rounded-2xl">
					<div>
						<img src="https://i.scdn.co/image/ab67616d00001e0253b00338631509f18fb3c48a" class="w-full h-full rounded-2xl" alt="" srcset="" />
					</div>
				</div>
				<div class="absolute bottom-2 right-3 block xl:w-36 xl:h-36 md:w-16 md:h-16 shadow-2xl bg-slate-700/30 rounded-2xl">
					<div>
						
					</div>
				</div>
				<div class="absolute bottom-0 right-0 block xl:w-32 xl:h-32 md:w-16 md:h-16 shadow-2xl bg-slate-300 rounded-2xl">
					<div>
						<img src="https://i.scdn.co/image/ab67616d00001e0253b00338631509f18fb3c48a" class="w-full h-full rounded-2xl" alt="" srcset="" />
					</div>
				</div>
				<div class="absolute -bottom-14 text-right h-auto w-11/12 text-sm font-bold text-slate-900">
					Subliminal <br> <span class="text-xs font-normal">(10 Tracks)</span>
				</div>
			</div>
		</div>
	</a>
</div>

</template>

<style>
</style>
