<script setup>
import { ref, onMounted, computed } from "vue"
import { useStore } from 'vuex'
import { useRoute, useRouter } from 'vue-router'
const router = useRouter()

import TrackCard from '../../components/TrackCard.vue'

const store = useStore()

const props = defineProps({
	albumId: String,
	name: String,
	pk: String
})

const album = ref({})
let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

const proxy = computed(() => {
	return store.state.until.proxy
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}

function resolveAlbums(pk) {
  const list = store.state.album.albumsList
	list.forEach(albums => {
		if (albums.pk == pk){
			album.value['name'] = albums.name
			album.value['auteur'] = albums.auteur
			album.value['image'] = albums.image
			album.value['tracks'] = albums.tracks
			album.value['pk'] = albums.pk
		}
	})
}

function getAlbums() {
	store.dispatch('album/getSelfAlbums', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		store.commit('album/setAlbumsList', response)
		resolveAlbums(props.pk)
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
	getAlbums()
})
</script>

<template>
<div class="relative w-11/12 mt-2">
	<div class="absolute left-10 font-bold text-lg flex">
		<button @click="router.go(-1)" class="bg-tranparent text-slate-400 rounded-full mr-2">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 6l-6 6l6 6"></path></svg>
		</button>
		Track List: {{album.name}}</div>
	<div class="absolute right-10 underline">
		<button @click="getAlbums" class="text-blue-700 rounded-full mr-1 hover:bg-blue-800/30 p-2 w-10 h-10 backdrop-blur-sm">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
			</svg>
		</button>
	</div>
</div>

<br> <br>

<div class="flex flex-wrap justify-items-stretch xm:pl-4 xm:pr-4 md:pl-10 md:pr-10">
	<div class="mt-6 transition justify-self-start hover:-translate-y-1 slide-fade hover:scale-11 sm:mx-2 2xm:mx-auto" v-for="track in album.tracks" :key="track">
		<track-card
			:id="track.id"
			:title="track.title"
			:song="proxy+track.song"
			:image="proxy+album.image"
			:author="album.auteur.username"
			:playing_song="playing_song"
			@pause="pause"
			@play="play"
		/>
	</div>
</div>
</template>

<style>
</style>
