<script setup>
import { ref, onMounted, computed } from "vue"
import CEModal from "./album_modal/CEModal.vue"
import DModal from "./album_modal/DModal.vue"
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
import { fetcherTimeout } from '../../utils/fetcher'
import { useStore } from 'vuex'

const store = useStore()
let albumList = ref([])
const proxy = computed(() => {
	return store.state.until.proxy
})

function getAlbums() {
	fetcherTimeout(
		5000,
		fetch('/api/stock/album/?user=' + store.state.userSession.user_data.pk, {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json',
				Authorization: 'Bearer ' + store.state.userSession.api_key
			}
		})
			.then(function (response) {
				return response.json()
			})
			.then((response) => {
				console.log(response)
				albumList.value = response
				store.commit('album/setAlbumsList', albumList.value)
			})
			.catch((error) => {
				console.log(error)
			})
	)
}

onMounted(() => {
	getAlbums()
})
</script>

<template>
<div>

<div class="relative w-11/12 mt-8">
	<div class="absolute left-10 font-bold text-lg">Albums List</div>
	<div class="absolute right-10 underline">
		<CEModal mode="add" @created="getAlbums" /> 
		<button @click="getAlbums" class="text-blue-700 rounded-full mr-1 hover:bg-blue-800/30 p-2 w-10 h-10 backdrop-blur-sm">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
			</svg>
		</button>
	</div>
</div>

<br> <br>

<div class="grid grid-cols-4 gap-2 ml-5 w-10/12">
	<div class="mb-12 transition hover:-translate-y-1 hover:scale-11" v-for="album in albumList" :key="album">
		<div class="w-32 -mb-3 grid grid-cols-2">
			<CEModal mode="edit" :pk_="album.pk" @updated="getAlbums" />
			<DModal :pk_="album.pk" @deleted="getAlbums" />
		</div>
		<div class="w-">
			<div class="xl:w-48 xl:h-48 md:w-[100px] md:h-[110px] bg-transparent relative rounded-2xl">
				<div class="absolute bottom-4 right-4 block xl:w-40 xl:h-40 md:w-[75px] md:h-[75px] hover:shadow-2xl bg-slate-300 rounded-2xl">
					<div>
						<img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
					</div>
				</div>
				<div class="absolute bottom-2 right-3 block xl:w-36 xl:h-36 md:w-16 md:h-16 shadow-2xl bg-slate-700/40 rounded-2xl">
					<div>
						
					</div>
				</div>
        <router-link
					custom
					v-slot="{href, navigate}"
					:to="'/channel/albums/'+album.pk+'/tracks'"
				>
					<a :href="href" @click="navigate" class="absolute bottom-0 right-0 block xl:w-32 xl:h-32 md:w-16 md:h-16 shadow-2xl bg-slate-300 rounded-2xl">
            <div>
              <img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
            </div>
          </a>
				</router-link>
				<div class="absolute -bottom-14 text-right h-auto w-11/12 text-sm font-bold text-slate-900 dark:text-slate-400">
					{{album.name}} <br> <span class="text-xs font-normal">({{album.tracks.length}} Tracks)</span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</template>

<style>
</style>
