<script setup>
import { ref, onMounted, computed } from "vue"
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Combobox,
  ComboboxInput,
  ComboboxButton,
  ComboboxOptions,
  ComboboxOption,
} from '@headlessui/vue'
import { CheckIcon, SelectorIcon } from '@heroicons/vue/solid'
import { useStore } from 'vuex'

const store = useStore()

const isOpen = ref(false)
const proxy = computed(() => {
	return store.state.until.proxy
})

const openModal = function() {
  isOpen.value = true
}
const closeModal = function() {
  isOpen.value = false
}

const people = [
  { id: 1, name: 'Wade Cooper' },
  { id: 2, name: 'Arlene Mccoy' },
  { id: 3, name: 'Devon Webb' },
  { id: 4, name: 'Tom Cook' },
  { id: 5, name: 'Tanya Fox' },
  { id: 6, name: 'Hellen Schmidt' },
]

let selected = ref(people[0])
let query = ref('')

let filteredPeople = computed(() =>
  query.value === ''
    ? people
    : people.filter((person) =>
        person.name
          .toLowerCase()
          .replace(/\s+/g, '')
          .includes(query.value.toLowerCase().replace(/\s+/g, ''))
      )
)
</script>

<template>

<br> <br>

<div class="flex flex-wrap md:pl-10 xm:pl-1 h-[100%]">
	<a href="" class="my-4 transition hover:-translate-y-1 slide-fade hover:scale-10 ml-2 mr-2" v-for="i in 4" :key="i">
		<div class=" w-40 h-40 shadow-2xl bg-slate-300 rounded-full">
			<div>
				<img src="/api/media/stock/album/avatar.webp" class="w-full h-full rounded-full" alt="" srcset="" />
				</div>
			<p class="text-center w-full text-[10px] font-bold mt-3">Maitre Gims</p>
		</div>
	</a>
	<a href="#" @click="openModal" class="my-4 transition hover:-translate-y-1 slide-fade hover:scale-10 ml-5 mr-2">
		<div class=" w-40 h-40 shadow-2xl bg-slate-50 dark:bg-slate-800 rounded-full">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-full h-full text-slate-800 dark:text-slate-500" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="currentColor" d="M30 17H19V6a1 1 0 1 0-2 0v11H6a1 1 0 0 0-1 1a.91.91 0 0 0 1 .94h11V30a1 1 0 1 0 2 0V19h11a1 1 0 0 0 1-1a1 1 0 0 0-1-1Z" class="clr-i-outline clr-i-outline-path-1"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
			</div>
		</div>
	</a>
</div>

<TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-slate-400/10 dark:bg-slate-800/10 z-40">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class=" inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white dark:bg-slate-800 shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-400"
              >
                Add Artist
              </DialogTitle>
              <br>
              <div class="mt-2">
                <div class="mb-6">
									<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select Artist</label>
									<Combobox v-model="selected">
									<div class="relative mt-1">
										<div
											class="relative w-full cursor-default overflow-hidden rounded-lg bg-white text-left shadow-md focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-teal-300 sm:text-sm"
										>
											<ComboboxInput
												class="w-full border-none py-2 pl-3 pr-10 text-sm leading-5 text-gray-900 focus:ring-0"
												:displayValue="(person) => person.name"
												@change="query = $event.target.value"
											/>
											<ComboboxButton
												class="absolute inset-y-0 right-0 flex items-center pr-2"
											>
												<SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
											</ComboboxButton>
										</div>
										<TransitionRoot
											leave="transition ease-in duration-100"
											leaveFrom="opacity-100"
											leaveTo="opacity-0"
											@after-leave="query = ''"
										>
											<ComboboxOptions
												class="absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
											>
												<div
													v-if="filteredPeople.length === 0 && query !== ''"
													class="relative cursor-default select-none py-2 px-4 text-gray-700"
												>
													Nothing found.
												</div>

												<ComboboxOption
													v-for="person in filteredPeople"
													as="template"
													:key="person.id"
													:value="person"
													v-slot="{ selected, active }"
												>
													<li
														class="relative cursor-default select-none py-2 pl-10 pr-4"
														:class="{
															'bg-teal-600 text-white': active,
															'text-gray-900': !active,
														}"
													>
														<span
															class="block truncate"
															:class="{ 'font-medium': selected, 'font-normal': !selected }"
														>
															{{ person.name }}
														</span>
														<span
															v-if="selected"
															class="absolute inset-y-0 left-0 flex items-center pl-3"
															:class="{ 'text-white': active, 'text-teal-600': !active }"
														>
															<CheckIcon class="h-5 w-5" aria-hidden="true" />
														</span>
													</li>
												</ComboboxOption>
											</ComboboxOptions>
										</TransitionRoot>
									</div>
								</Combobox>
                </div>
                <button @click="create" class="dark:bg-slate-900 dark:text-gray-400 w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                  Send Invitation
                </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<style>
</style>
