<template>
  <div>
    <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tabFill"
      role="tablist">
      <li class="nav-item flex-auto text-center" role="presentation">
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/channel/edition/artist"
				>
          <a :href='href'
            @click="navigate"
            class="
            nav-link
            w-full
            block
            font-medium
            text-xs
            leading-tight
            uppercase
            border-x-0 border-t-0 border-b-2
            px-6
            py-3
            my-2
            hover:bg-blue-100 dark:hover:bg-blue-800/10
            active
          " 
            :class="isExactActive ? 'border-b-2 border-blue-500 bg-blue-900/10': 'border-transparent'"
            id="tabs-home-tabFill" data-bs-toggle="pill" data-bs-target="#tabs-homeFill" role="tab"
            aria-controls="tabs-homeFill" aria-selected="true">Artists</a>
        </router-link>
      </li>
      <li class="nav-item flex-auto text-center" role="presentation">
        <a href="#tabs-profileFill" class="
          nav-link
          w-full
          block
          font-medium
          text-xs
          leading-tight
          uppercase
          border-x-0 border-t-0 border-b-2
          px-6
          py-3
          my-2
          hover:bg-blue-100 dark:hover:bg-blue-800/10
          border-transparent
        " id="tabs-profile-tabFill" data-bs-toggle="pill" data-bs-target="#tabs-profileFill" role="tab"
          aria-controls="tabs-profileFill" aria-selected="false">Dash Board</a>
      </li>
      <li class="nav-item flex-auto text-center" role="presentation">
        <router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/channel/edition/setting"
				>
          <a :href='href'
            @click="navigate"
            class="
            nav-link
            w-full
            block
            font-medium
            text-xs
            leading-tight
            uppercase
            border-x-0 border-t-0 border-b-2
            px-6
            py-3
            my-2
            hover:bg-blue-100 dark:hover:bg-blue-800/10
            focus:border-transparent
            active
          " 
            :class="isExactActive ? 'border-b-2 border-blue-500 bg-blue-900/10': 'border-transparent'"
            id="tabs-home-tabFill" data-bs-toggle="pill" data-bs-target="#tabs-homeFill" role="tab"
            aria-controls="tabs-homeFill" aria-selected="true">Settings</a>
        </router-link>
      </li>
    </ul>
    <div class="flex flex-wrap">
      <router-view />
    </div>
</div>
</template>

<script setup>
</script>

<style>

</style>