<script setup>
import { ref, onMounted, computed } from "vue"
import CEModal from "./track_modal/CEModal.vue"
import DModal from "./track_modal/DModal.vue"
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue"
import { useStore } from 'vuex'

const store = useStore()

const props = defineProps({
	albumId: String
})

const album = ref({})
const playing = computed(() => {
  return store.state.player.isPlay
})
const proxy = computed(() => {
	return store.state.until.proxy
})
let currentSong = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}

function resolveAlbums(pk) {
  const list = store.state.album.albumsList
	list.forEach(albums => {
		if (albums.pk == pk){
			album.value['name'] = albums.name
			album.value['auteur'] = albums.auteur
			album.value['image'] = albums.image
			album.value['tracks'] = albums.tracks
			// album.value['pk'] = albums.pk
		}
	})
}

function getAlbums() {
	store.dispatch('album/getAlbums', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		store.commit('album/setAlbumsList', response)
		resolveAlbums(props.albumId)
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
	getAlbums()
})
</script>

<template>
<div>

<div class="relative w-11/12 mt-8">
	<div class="absolute left-10 font-bold text-lg">Track List: {{album.name}}</div>
	<div class="absolute right-10 underline">
		<CEModal mode="add" @created="getAlbums" :albumPk="parseInt(albumId)" /> 
		<button @click="getAlbums" class="text-blue-700 rounded-full mr-1 hover:bg-blue-800/30 p-2 w-10 h-10 backdrop-blur-sm">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
			</svg>
		</button>
	</div>
</div>

<br> <br>

<div class="grid grid-cols-4 gap-1 ml-12 w-10/12">
	<div class="mt-6 transition hover:-translate-y-1 slide-fade hover:scale-11 flex w-full h mx-auto px-1" v-for="track in album.tracks" :key="track">
		<div class="">
			<div class="relative block xl:w-40 xl:h-48 md:w-24 md:h-24 shadow-2xl bg-slate-300/10 rounded-2xl">
				<div class="w-32 mb-1 grid grid-cols-2">
					<CEModal mode="edit" :albumPk="parseInt(albumId)" :pk_="track.id" @updated="getAlbums" />
					<DModal :pk_="track.id" @deleted="getAlbums" />
				</div>
				<div>
					<img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
					<a v-if="!playing" @click="play(proxy+track.song, track.title, proxy+album.image, album.auteur.username, track.id)" href="javascript:void(0)" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
						<svg xmlns="http://www.w3.org/2000/svg" class="xl:h-16 xl:w-16 md:h-8 md:w-8 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
						</svg>
					</a>
					<a v-else-if="currentSong==proxy+track.song" @click="pause" href="javascript:void(0)" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
						<svg xmlns="http://www.w3.org/2000/svg" class="xl:h-16 xl:w-16 md:h-8 md:w-8 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
					</a>
					<a v-else @click="play(proxy+track.song, track.title, proxy+album.image, album.auteur.username, track.id)" href="javascript:void(0)" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
						<svg xmlns="http://www.w3.org/2000/svg" class="xl:h-16 xl:w-16 md:h-8 md:w-8 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
						</svg>
					</a>
				</div>
			</div>
			<p  class="text-center xl:w-40 md:w-24 md:text-sm text-lg font-normal text-slate-700 dark:text-slate-400">
				{{}} <br />
				<span class="font-bold text-slate-900 dark:text-slate-400">{{track.title}}</span>
			</p>
		</div>
	</div>
</div>
</div>
</template>

<style>
</style>
