<script setup>
import { ref, reactive, computed, watch, onMounted } from "vue"
import PlayerCard from '../../components/PlayerCard.vue'
import RecommendedTrackCard from '../../components/RecommendedTrackCard.vue'
import { useStore } from 'vuex'
const largeur =  ref(window.innerWidth)
setInterval(()=>{
	largeur.value =  window.innerWidth
} ,100)

const store = useStore()
const trackList = computed(() => {
	return store.state.track.similarsTrack
})
const albumList = ref([])
const proxy = computed(() => {
	return store.state.until.proxy
})

function getTrack() {
	store.dispatch('album/top50', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		trackList.value = response.detail.slice(0, 9)
		console.log(trackList.value)
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
	getTrack()
})


let playing_song = computed(() => {
  return store.state.player.isPlay
})

let similar_track_list = computed(() => {
  return store.state.track.similarsTrack
})

let song = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}
</script>

<template>
  <div
		class="bg-transparent text-slate-800 dark:text-slate-300 lg:flex-col lg:items-stretch lg:min-h-full lg:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-3"
	>

		<player-card v-if="largeur>=1280" />
		<div
			class="lg:flex lg:flex-col lg:items-stretch lg:opacity-100 lg:relative lg:mt-4 lg:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
			ngClass="collapseShow"
		>

			<h6
				class="lg:min-w-full text-blueGray-500 text-lg bold block pt-1 mt-1 no-underline"
			>
				Similars
			</h6>
			<!-- Navigation -->
			<ul class="lg:flex-col lg:min-w-full flex flex-col list-none">
				<li v-for="track in trackList" :key="track" v-cloak>
					<recommended-track-card
						:id="track.id"
						:title="track.title"
						:song="proxy+track.song"
						:image="proxy+track.album.image"
						:author="track.album.auteur.username"
						:playing_song="playing_song"
						:duration="track.duration"
						@pause="pause"
						@play="play"
					/>
				</li>
			</ul>

			<!-- Navigation -->
		</div>
	</div>
</template>

<style>

</style>