<script setup>
import { ref, watch, computed } from "vue"
import { useStore } from 'vuex'
import TrackCard from '../../components/TrackCard.vue'
import { useRoute, useRouter } from 'vue-router'
const router = useRouter()

const store = useStore()

const props = defineProps({
  title: String,
  functionn: String,
  menu: String
})
const menu = computed(() => {
  return props.menu
})
const trackList = ref([])
const favoriteList = ref([])
const recommandedList = ref([])
const albumList = ref([])
const wait = ref(true)
const proxy = computed(() => {
	return store.state.until.proxy
})
const style = computed(() => {
	return store.state.until.selectedStyle
})

function getFavoriteTrack() {
	store.dispatch('track/favorite', {
		user: store.state.userSession.user_data.pk,
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		favoriteList.value = response.detail
		wait.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function getTrack() {
	store.dispatch('album/discover', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		trackList.value = response
		wait.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function top50() {
	store.dispatch('album/top50', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		trackList.value = response.detail
		console.log(trackList.value, 'ici')
		wait.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function getAlbum() {
	store.dispatch('album/top50album', {
    api_key: store.state.userSession.api_key,
		user: store.state.userSession.user_data.pk
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		albumList.value = response.detail
		wait.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}
function load() {
	if(props.functionn=='top50' && props.menu=='home'){
		top50()
	}
	if(props.functionn=='new' && props.menu=='new'){
		getTrack()
	}
	if(props.functionn=='top50' && props.menu=='albums'){
		getAlbum()
	}
	if(props.functionn=='fav' && props.menu=='favorites'){
		getFavoriteTrack()
	}
	if(props.functionn=='r' && props.menu=='r'){
		getRecommend()
	}
}
load()
watch(menu, (menu, prevMenu) => {
	wait.value = true
	load()
})

watch(style, (style, prevStyle) => {
	wait.value = true
	load()
})


let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}
function getRecommend() {
	store.dispatch('album/getRecommanded', {
    api_key: store.state.userSession.api_key,
		user: store.state.userSession.user_data.pk
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		recommandedList.value = response.detail
		wait.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}
</script>

<template>

<div class="flex flex-wrap mt-8 justify-center" v-if="wait">
	<div class="flex mx-auto dark:text-white text-slate-700">
		<svg v-if="true" class="animate-spin h-8 w-8 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
			<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
			<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
		</svg>
	</div>
</div>

<div v-else>
	<div class="flex flex-nowrap overflow-x-auto h mx-auto md:ml-10 xm:ml-5 mt-1">
		<button @click="router.go(-1)" class="bg-tranparent text-slate-300 rounded-full mr-2">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 6l-6 6l6 6"></path></svg>
		</button>
		<div class="space-x-2 flex flex-nowrap overflow-x-auto text-sm">
				<a :class="store.state.until.selectedStyle==-1 ? 'bg-blue-500/10 text-blue-500' : ''" @click="store.commit('setSelectedStyle', -1)" href="javascript:void(0)" class="px-2 h-9 min-w-fit shadow-2xl rounded-3xl flex items-center justify-center focus:font-semibold font-semibold text-slate-500 focus:bg-blue-500/10 focus:text-blue-500">
					All categories
				</a>
				<a :class="store.state.until.selectedStyle==style.id ? 'bg-blue-500/10 text-blue-500' : ''" @click="store.commit('setSelectedStyle', style.id)" v-for="style in store.state.until.categories" :key="style" href="javascript:void(0)" class="px-2 h-9 min-w-fit rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-blue-500/10 focus:text-blue-500">
					{{style.name}}
				</a>
		</div>
	</div>

	<div class="relative w-10/12 mt-8">
		<div class="absolute md:left-10 xm:left-5 font-bold">{{ title }} </div>
		<div class="absolute right-10 underline"></div>
	</div> <br>

	<div class="xm:pl-4 xm:pr-4 md:pl-10 md:pr-10 w-full flex flex-wrap" v-show="functionn=='top50' && menu=='home'">
		<div class="mt-6 hover:-translate-y-1 hover:scale-11 sm:mx-2 2xm:mx-auto" v-for="track in trackList" :key="track">
			<track-card
				:id="track.id"
				:title="track.title"
				:song="proxy+track.song"
				:image="proxy+track.album.image"
				:author="track.album.auteur.username"
				:playing_song="playing_song"
				@pause="pause"
				@play="play"
			/>
		</div>
	</div>

	<div class="xm:pl-4 xm:pr-4 md:pl-10 md:pr-10 w-full flex flex-wrap" v-show="functionn=='fav' && menu=='favorites'">
		<div class="mt-6 hover:-translate-y-1 hover:scale-11 sm:mx-2 2xm:mx-auto" v-for="track in favoriteList" :key="track">
			<track-card
				:id="track.id"
				:title="track.title"
				:song="proxy+track.song"
				:image="proxy+track.album.image"
				:author="track.album.auteur.username"
				:playing_song="playing_song"
				@pause="pause"
				@play="play"
			/>
		</div>
	</div>

	<div class="flex flex-wrap justify-start 2xm:pl-1 2xm:pr-1 xm:pl-4 xm:pr-4 md:pl-10 md:pr-10" v-show="functionn=='new' && menu=='new'">
		<div class="mt-6 transition hover:-translate-y-1 slide-fade hover:scale-11 sm:mx-2 2xm:mx-auto" v-for="track in trackList" :key="track">
			<track-card
				:id="track.id"
				:title="track.title"
				:song="proxy+track.song"
				:image="proxy+track.album.image"
				:author="track.album.auteur.username"
				:playing_song="playing_song"
				@pause="pause"
				@play="play"
			/>
		</div>
	</div>

	<div class="flex flex-wrap justify-start 2xm:pl-1 2xm:pr-1 xm:pl-4 xm:pr-4 md:pl-10 md:pr-10" v-show="functionn=='r' && menu=='r'">
		<div class="mt-6 transition hover:-translate-y-1 slide-fade hover:scale-11 sm:mx-2 2xm:mx-auto" v-for="track in recommandedList" :key="track">
			<track-card
				:id="track.id"
				:title="track.title"
				:song="proxy+track.song"
				:image="proxy+track.album.image"
				:author="track.album.auteur.username"
				:playing_song="playing_song"
				@pause="pause"
				@play="play"
			/>
		</div>
	</div>

	<div class="grid grid-cols-4 gap-0 ml-5 w-10/12 mt-2" v-if="functionn=='top50' && menu=='albums'">
		<a href="" class="mb-12 transition hover:-translate-y-1 hover:scale-11" v-for="album in albumList" :key="album">
			<div class="w-">
				<div class="xl:w-48 xl:h-48 md:w-[100px] md:h-[110px] mx-5 bg-transparent relative">
					<div class="absolute bottom-4 right-4 block xl:w-40 xl:h-40 md:w-[75px] md:h-[75px] shadow-2xl bg-slate-300 rounded-2xl">
						<div>
							<img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
						</div>
					</div>
					<div class="absolute bottom-2 right-3 block xl:w-36 xl:h-36 md:w-16 md:h-16 shadow-2xl bg-slate-700/30 rounded-2xl">
						<div>
							
						</div>
					</div>
					<router-link
						custom
						v-slot="{href, navigate}"
						:to="'/'+album.name+'/'+album.pk+'/track'"
					>
						<a :href="href" @click="navigate" class="absolute bottom-0 right-0 block xl:w-32 xl:h-32 md:w-16 md:h-16 shadow-2xl bg-slate-300 rounded-2xl">
							<div>
								<img :src="proxy+album.image" class="w-full h-full rounded-2xl" alt="" srcset="" />
							</div>
						</a>
					</router-link>
					<div class="absolute -bottom-[52px] text-right h-auto w-11/12 text-sm font-bold text-slate-900">
						{{album.auteur.username}} <br> <span class="text-xs font-normal">(10 Tracks)</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</template>

<style>
</style>
