<template>
  <button @click="openModal" v-if="mode=='add'" class="dark:bg-slate-700/70 bg-slate-700/10 dark:text-slate-100 text-slate-800 rounded-full p-2 ml-4">
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
	</button>
  <a @click="openModal" v-if="mode=='edit'" class="flex pt-2 pb-2 px-1 hover:bg-slate-500/20" href="javascript:void(0)">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
    Edit
  </a>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-slate-400/50 dark:bg-slate-800/50 z-40">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class=" inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white dark:bg-slate-800 shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-400"
                v-if="mode=='add'"
              >
                Add New PlayList
              </DialogTitle>
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-400"
                v-if="mode=='edit'"
              >
                Edit PlayList
              </DialogTitle>
              <br>
              <div class="mt-2">
                <div class="mb-6">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Title</label>
                  <input type="text" v-model="title" id="email" class="dark:bg-slate-700 border-0 text-gray-900 dark:text-gray-100 text-sm rounded-lg w-full p-2.5 " placeholder="" required>
                </div>
                <button v-if="mode=='add'" @click="create" class="dark:bg-slate-900 dark:text-gray-400 w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                  Save
                </button>
                <button v-if="mode=='edit'" @click="update(pk_)" class="w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                  Update
                </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption
} from '@headlessui/vue'
import { useStore } from 'vuex'

const emit = defineEmits(['created', 'updated'])
const props = defineProps({
  mode: String,
  pk_: Number,
  albumPk: Number
})

const store = useStore()
const styles = store.state.until.categories
const selectedStyle = ref({name: "^Style"})
const selected = ref([])
const selectedId = ref([])
const isOpen = ref(false)
const title = ref('')
const description = ref('')
const song = ref('')
const trak = document.createElement('audio')

watch(selectedStyle, (selectedStyle, prevSelectedStyle) => {
  let verif = false
  for(let i=0; i<selected.value.length; i++){
    if(selected.value[i] == selectedStyle.name){
      verif = true
    }
  }
	if(verif){
		selected.value = selected.value.filter(function(value, index, arr){ 
      return value != selectedStyle.name;
    });
    selectedId.value = selectedId.value.filter(function(value, index, arr){ 
      return value != selectedStyle.id;
    });
	}else{
		selected.value.push(selectedStyle.name)
    selectedId.value.push(selectedStyle.id)
	}
  console.log(selectedId.value)
})

function move(item){
  let ids = []
  selected.value = selected.value.filter(function(value, index, arr){
    return value != item;
  })
  for(let i=0; i<selected.value.length; i++){
    for(let j=0; j<styles.value.length; j++){
      if(selected.value[i] == selectedStyle.value[j].name){
        ids.push(selectedStyle.value[j].id)
      }
    }
  }
  selectedId.value = ids.value
}

function verif(item){
  let verif = false
  for(let i=0; i<selected.value.length; i++){
    if(selected.value[i] == item){
      verif = true
    }
  }
  return verif
}

function resolveTrack(pk) {
  const list = store.state.album.albumsList
	list.forEach(album => {
		if (album.pk == props.albumPk){
      let l = album.tracks
      l.forEach(track => {
        if (track.id == pk){
          console.log(track)
          title.value = track.title
          description.value = track.description
          for(let i = 0; i<track.style.length; i++){
            selected.value.push(track.style[i].name)
            selectedId.value.push(track.style[i].id)
          }
        }
      })
  	}
	})
}

if (props.mode == 'edit'){
  resolveTrack(props.pk_)
  console.log(selected.value, 'iiiiiiiiiiiiiiii')
}

function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => resolve(reader.result)
    reader.onerror = error => reject(error)
  })
}

function onFileChanged(event) {
  const target = event.target
  const file = target.files[0]
  trak.src = URL.createObjectURL(file)
  trak.load()
  trak.play()
  trak.pause()
  getBase64(file).then(
    data => {
      song.value = data
    }
  )
}

function create() {
  store.dispatch('track/create', {
    body: {
      style: selectedId.value,
      album: props.albumPk,
      title: title.value,
      description: description.value,
      song: song.value,
      duration: trak.duration
    },
    api_key: store.state.userSession.api_key
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('created')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}

function update(pk) {
  store.dispatch('track/update', {
    body: {
      style: selectedId.value,
      album: props.albumPk,
      title: title.value,
      description: description.value,
      song: song.value,
      duration: trak.duration
    },
    api_key: store.state.userSession.api_key,
    pk: pk
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('updated')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}

const closeModal = function() {
  isOpen.value = false
}
const openModal = function() {
  isOpen.value = true
  if (props.mode == 'edit'){
    resolveTrack(props.pk_)
  }
  console.log(props.mode, props.pk_, props.albumPk)
}
</script>
