<template>
  <li class="items-center">
    <a
      class="text-sm py-3 font-semibold flex"
      @click="openModal"
      href="#"
      >
      <svg xmlns="http://www.w3.org/2000/svg"  class="h-5 w-5 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      <span v-if="showText">Sign Out</span>
    </a>
  </li>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-yellow-900/10 z-50">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class="backdrop-blur-md inline-block w-full max-w-sm p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-slate-600"
              >
                Log out
              </DialogTitle>
              <br>
              <div class="mt-2">
                <p class="text-slate-600">
                  Are you sure that you want to deconect ?
                </p>
              </div> <br>
              <div class="mt-2">
                <button @click="logout" class="w-2/5 inline-flex justify-center px-4 py-2 text-sm font-medium text-red-900 bg-red-100 border border-transparent rounded-md hover:bg-red-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-red-500">
                  Yes.
                </button>
                <button @click="closeModal" class="w-2/5 ml-3 inline-flex justify-center px-4 py-2 text-sm font-medium text-green-900 bg-green-100 border border-transparent rounded-md hover:bg-green-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-green-500">
                  No.
                </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Switch,
} from '@headlessui/vue'

import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'

const props = defineProps({
  showText: Boolean
})

const route = useRoute()
const router = useRouter()
const store = useStore()

const isOpen = ref(false)
const isArtist = ref(false)

function  closeModal() {
  isOpen.value = false
}
function  openModal() {
  isOpen.value = true
}
function  logout() {
  store.dispatch('userSession/logout')
  store.commit('setIsH', false)
  isOpen.value = false
  router.push({ name: 'h' })
}

</script>
