<script setup>
import { PlayIcon,
         MenuAlt1Icon,
         HomeIcon,
         SearchIcon,
         ClockIcon,
         ArchiveIcon,
         UserIcon,
         HeartIcon,
         UsersIcon,
         StatusOnlineIcon,
         CogIcon,
         LogoutIcon,
         LoginIcon,
         InformationCircleIcon,
         XIcon } from '@heroicons/vue/outline'
import Logout from '../../views/Authentification/Logout.vue'
import { useStore } from 'vuex'

const store = useStore()
</script>

<template>
	<div
		class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full ml-4 pl-3"
	>
		<!-- Toggler -->
		<button
			class="cursor-pointer text-gray opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
			type="button"
		>
			<MenuAlt1Icon/>
		</button>
		<!-- Brand -->
		<a
			class="md:block ms:invisible text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm font-bold p-4 px-0"
			href="javascript:void(0)"
		>
			<div class="flex text-lg text-center">
				A<span class="text-orange-600">Z</span>
			</div>
		</a>
    <button
      class="text-slate-900"
      type="button"
      @click="store.state.until.navLeft = true"
    >
      <MenuAlt1Icon class="h-5 w-5"/>
    </button>
		<!-- Collapse -->
		<div
			class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
			ngClass="collapseShow"
		>
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				M
			</h6>
			<ul class="md:flex-col md:min-w-full flex flex-col list-none">
				<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/"
				>
					<li class="items-center focus:border-orange-500" :class="isExactActive ? 'border-orange-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
							<HomeIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/search"
				>
					<li class="items-center focus:border-orange-500" :class="isExactActive ? 'border-orange-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
							<SearchIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/catalog/Discover/new/new"
				>
					<li class="items-center focus:border-orange-500" :class="isExactActive ? 'border-orange-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
							<ClockIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/albums"
				>
					<li class="items-center focus:border-orange-500" :class="isExactActive ? 'border-orange-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
							<ArchiveIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<li class="items-center focus:border-r-2 focus:border-orange-500">
					<a
						class="text-sm py-3 focus:text-orange-500 font-semibold flex line-through"
						href="#"
						> <UserIcon class="h-5 w-5"/>
					</a>
				</li>
			</ul>

			<hr class="my-4 md:min-w-full" />
			<!-- Heading -->
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				L
			</h6>
			<!-- Navigation -->
			<ul
				class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
			>
				<li class="items-center focus:border-r-2 focus:border-orange-500">
					<a
						class="text-sm py-3 focus:text-orange-500 font-semibold flex line-through"
						href="#"
						> <HeartIcon class="h-5 w-5"/>
					</a>
				</li>
			</ul>

			<hr class="my-4 md:min-w-full" />
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				A
			</h6>
			<!-- Navigation -->
			<ul
				class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
			>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/users"
				>
					<li class="items-center focus:border-orange-500" :class="isExactActive ? 'border-orange-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
							<UsersIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/channel/albums"
				>
					<li class="items-center focus:border-orange-500" :class="isExactActive ? 'border-orange-500 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-orange-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
							<StatusOnlineIcon class="h-5 w-5"/>
						</a>
					</li>
				</router-link>
				<!--<li class="items-center focus:border-r-2 focus:border-orange-500">
					<a
						class="text-sm py-3 focus:text-orange-500 font-semibold flex"
						href="#"
						>
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
						</svg>
						Model
					</a>
				</li>-->
			</ul>
			<!-- Divider -->
			<hr class="my-4 md:min-w-full" />
			<!-- Heading -->
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				G
			</h6>
			<!-- Navigation -->
			<ul
				class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
			>
				<li class="items-center focus:border-r-2 focus:border-orange-500">
					<a
						class="text-sm py-3 focus:text-orange-500 font-semibold flex line-through"
						href="#"
						> <CogIcon class="h-5 w-5"/>
					</a>
				</li>
				<Logout :showText="false" />
			</ul>
		</div>
	</div>
</template>

<style>

</style>
