<script setup>
import { PlayIcon,
         MenuAlt1Icon,
         HomeIcon,
         SearchIcon,
         ClockIcon,
         ArchiveIcon,
         UserIcon,
         HeartIcon,
         UsersIcon,
         StatusOnlineIcon,
         CogIcon,
         LogoutIcon,
         LoginIcon,
         InformationCircleIcon,
         XIcon,
				 PencilAltIcon } from '@heroicons/vue/outline'
import Logout from '../../views/Authentification/Logout.vue'
import { useStore } from 'vuex'
import { ref, computed, onMounted } from 'vue'

const store = useStore()
const dark = ref(false)
const proxy = computed(() => {
	return store.state.until.proxy
})
function darkMode(){
	dark.value = !dark.value
	localStorage.theme = dark.value ? 'dark' : 'light'
	if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		document.documentElement.classList.add('dark')
	} else {
		document.documentElement.classList.remove('dark')
		localStorage.theme = 'light'
	}
}

onMounted(() =>  {
	if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		document.documentElement.classList.add('dark')
		dark.value = true
	} else {
		document.documentElement.classList.remove('dark')
		localStorage.theme = 'light'
		dark.value = false
	}
})
</script>

<template>
	<div
		class="sm:flex-col h-full dark:text-slate-300 text-slate-800 sm:items-stretch sm:min-h-full sm:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full ml-4 pl-3"
	>
		<a
			class="sm:block ms:invisible text-left sm:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm font-bold p-4 px-0"
			href="javascript:void(0)"
		>
			<div class="flex relative text-lg text-center mb-4">
				<div class="absolute flex left-0 -top-2">
					<router-link
						custom
						v-slot="{isExactActive, href, navigate}"
						to="/profil"
						>
							<a :href="href" @click="navigate" class="focus:text-blue-500 rounded-full py-1 shadow-xl text-sm font-semibold flex" :class="isExactActive ? 'text-blue-500 bg-blue-500/10': ''">
								<img class="w-8 h-8 ml-2 rounded-full" :src="proxy+store.state.userSession.user_data.detail[0].image">
								<span class="ml-2 mr-2 mt-1">
									{{store.state.userSession.user_data.username}}
								</span>
							</a>
						</router-link>
				</div>
				<button
					class="text-slate-900 absolute right-0 mr-4"
					type="button"
					@click="store.state.until.navLeft = false"
				>
					<MenuAlt1Icon class="h-7 w-7 text-slate-800 dark:text-slate-400"/>
				</button>
			</div>
		</a>
		<!-- Collapse -->
		<div
			class="sm:flex sm:flex-col sm:items-stretch sm:opacity-100 sm:relative sm:mt-7 sm:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
			ngClass="collapseShow"
		>
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				Menu
			</h6>
			<ul class="md:flex-col md:min-w-full flex flex-col list-none">
				<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<HomeIcon class="h-5 w-5 mr-4"/>
							Home
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/search"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<SearchIcon class="h-5 w-5 mr-4"/>
							Search
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/catalog/Discover/new/new"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<ClockIcon class="h-5 w-5 mr-4"/>
							Discover
						</a>
					</li>
				</router-link>
				<!-- <router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/albums"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<ArchiveIcon class="h-5 w-5 mr-4"/>
							Albums
						</a>
					</li>
				</router-link>
				<li class="items-center focus:border-r-2 focus:border-blue-500">
					<a
						class="text-sm py-3 focus:text-blue-500 font-semibold flex line-through"
						href="#"
						> <UserIcon class="h-5 w-5 mr-4"/>
						Artists
					</a>
				</li> -->
			</ul>

			<!-- <div class="my-4 h-[1px] w-full text-slate-700 bg-slate-300 dark:bg-slate-600">.</div>
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				Library
			</h6> -->
			<!-- Navigation -->
			<ul
				class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
			>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/catalog/Favorites/fav/favorites"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<HeartIcon class="h-5 w-5 mr-4"/>
							Favorites
						</a>
					</li>
				</router-link>
				<router-link
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/playlist"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<ArchiveIcon class="h-5 w-5 mr-4"/>
							PlayLists
						</a>
					</li>
				</router-link>
			</ul>

			<div class="my-4 h-[1px] w-full text-slate-700 bg-transparent dark:bg-transparent" v-if="(store.state.userSession.role == 'Admin' || store.state.userSession.role == 'Artist/Admin') || (store.state.userSession.role == 'Artist' || store.state.userSession.role == 'Artist/Admin')">.</div>
			
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
				v-if="(store.state.userSession.role == 'Admin' || store.state.userSession.role == 'Artist/Admin') || (store.state.userSession.role == 'Artist' || store.state.userSession.role == 'Artist/Admin')"
			>
				Admin
			</h6>
			<!-- Navigation -->
			<ul
				class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
			>
				<router-link
					v-if="store.state.userSession.role == 'Admin' || store.state.userSession.role == 'Artist/Admin'"
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/users"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<UsersIcon class="h-5 w-5 mr-4"/>
							Users
						</a>
					</li>
				</router-link>
				<router-link
					v-if="store.state.userSession.role == 'Artist' || store.state.userSession.role == 'Artist/Admin'"
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/channel/albums"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<StatusOnlineIcon class="h-5 w-5 mr-4"/>
							Channel
						</a>
					</li>
				</router-link>
				<router-link
					v-if="store.state.userSession.role == 'Artist' || store.state.userSession.role == 'Artist/Admin'"
					custom
					v-slot="{isExactActive, href, navigate}"
					to="/channel/edition"
				>
					<li class="items-center focus:border-blue-500" :class="isExactActive ? 'border-blue-500 bg-blue-500/10 border-r-2': ''">
						<a :href="href" @click="navigate" class="focus:text-blue-500 text-sm py-3 font-semibold flex" :class="isExactActive ? 'text-blue-500': ''">
							<PencilAltIcon class="h-5 w-5 mr-4"/>
							Edition
						</a>
					</li>
				</router-link>
				<!--<li class="items-center focus:border-r-2 focus:border-blue-500">
					<a
						class="text-sm py-3 focus:text-blue-500 font-semibold flex"
						href="#"
						>
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
						</svg>
						Model
					</a>
				</li>-->
			</ul>
			<!-- Divider -->
			<div class="my-4 h-[1px] w-full text-slate-700 bg-transparent dark:bg-transparent">.</div>
			<!-- Heading -->
			<h6
				class="md:min-w-full text-blueGray-500 text-xs uppercase block pt-1 pb-4 no-underline"
			>
				General
			</h6>
			<!-- Navigation -->
			<ul
				class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
			>
				<li class="items-center focus:border-r-2 focus:border-blue-500">
					<button @click="darkMode" class="relative inline-flex items-center py-1 px-1 rounded-full transition-colors duration-300 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-white focus:outline-none bg-slate-200 dark:bg-slate-700 dark:text-slate-200 text-slate-700  focus-visible:ring-slate-600">
						<span :class="dark ? 'bg-white text-slate-600' : ''" class="w-8 h-8 rounded-full flex items-center justify-center transition duration-500 transform">
							<svg width="24" height="24" fill="none" aria-hidden="true" class="flex-none transition duration-500 transform opacity-100 scale-100">
								<path d="M18 15.63c-.977.52-1.945.481-3.13.481A6.981 6.981 0 0 1 7.89 9.13c0-1.185-.04-2.153.481-3.13C6.166 7.174 5 9.347 5 12.018A6.981 6.981 0 0 0 11.982 19c2.67 0 4.844-1.166 6.018-3.37ZM16 5c0 2.08-.96 4-3 4 2.04 0 3 .92 3 3 0-2.08.96-3 3-3-2.04 0-3-1.92-3-4Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</span>
						<span :class="!dark ? 'bg-slate-700 static text-slate-200' : ''" class="ml-1 w-8 h-8 rounded-full flex items-center justify-center transition duration-500 transform">
							<svg width="24" height="24" fill="none" aria-hidden="true" class="flex-none transition duration-500 transform opacity-100 scale-100">
								<path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
								<path d="M12 4v1M18 6l-1 1M20 12h-1M18 18l-1-1M12 19v1M7 17l-1 1M5 12H4M7 7 6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</span>
					</button>
				</li>
				<Logout :showText="true" />
			</ul>
		</div>
	</div>
</template>

<style>
li{
	@apply pl-1
}
</style>
