<template>
  <div class="w-">
    <div class="md:w-48 md:h-48 2xm:w-48 2xm:h-48 mx-2 bg-transparent relative">
      <div class="absolute bottom-4 right-4 block md:w-40 md:h-40 2xm:w-40 2xm:h-40 shadow-2xl bg-slate-300 rounded-2xl">
        <div>
          <img :src="image" class="w-full h-full rounded-2xl" alt="" srcset="" />
        </div>
      </div>
      <div class="absolute bottom-2 right-3 block md:w-36 md:h-36 2xm:w-36 2xm:h-36 shadow-2xl bg-slate-700/70 rounded-2xl">
        <div>
          
        </div>
      </div>
      <router-link
        custom
        v-slot="{href, navigate}"
        :to="'/'+name+'/'+pk+'/track'"
      >
        <a :href="href" @click="navigate" class="absolute bottom-0 right-0 block md:w-32 md:h-32 2xm:w-32 2xm:h-32 shadow-2xl bg-slate-300 rounded-2xl">
          <div>
            <img :src="image" class="w-full h-full rounded-2xl" alt="" srcset="" />
          </div>
        </a>
      </router-link>
      <div class="absolute -bottom-14 text-right h-auto w-11/12 text-sm font-bold text-slate-900 dark:text-slate-400">
        {{name}} <br> <span class="text-xs font-normal">({{length}} Tracks)</span>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  image: String,
  length: String,
  name: String,
  pk: Number
})
</script>

<style>

</style>