<script setup>
import { ref } from 'vue'
import { PlayIcon,
         ViewListIcon } from '@heroicons/vue/outline'

const props = defineProps({
  image1: String,
  image2: String,
  image3: String,
  image4: String,
  name: String,
  pk: Number
})

const showButton = ref(false)
</script>

<template>
  <div class="w-">
    <div class="md:w-48 md:h-48 2xm:w-48 2xm:h-48 mx-2 bg-transparent">
      <router-link
        custom
        v-slot="{href, navigate}"
        :to="'/'+name+'/'+pk+'/track'"
      >
        <a @mousemove="showButton = true" @mouseleave="showButton = false" :href="href" @click="navigate" class="block relative md:w-40 md:h-40 2xm:w-32 2xm:h-32 shadow-2xl bg-transparent">
          <div v-show="showButton">
						<button class="absolute bottom-3 left-3 rounded-full bg-transparent backdrop-blur-md text-white p-3">
							<ViewListIcon class="h-7 w-7 text-white"/>
						</button>
						<button class="absolute bottom-3 right-3 rounded-full bg-transparent backdrop-blur-md text-white p-3">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--clarity h-7" width="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
								<path fill="currentColor" d="M32.16 16.08L8.94 4.47A2.07 2.07 0 0 0 6 6.32v23.21a2.06 2.06 0 0 0 3 1.85l23.16-11.61a2.07 2.07 0 0 0 0-3.7Z" class="clr-i-solid clr-i-solid-path-1"></path>
								<path fill="none" d="M0 0h36v36H0z"></path>
							</svg>
						</button>
					</div>
					<div class="grid grid-cols-2 gap-1">
            <img :src="image1" class="w-full h-full" alt="" srcset="" />
						<img :src="image2" class="w-full h-full" alt="" srcset="" />
						<img :src="image3" class="w-full h-full" alt="" srcset="" />
						<img :src="image4" class="w-full h-full" alt="" srcset="" />
          </div>
        </a>
      </router-link>
      <div class="text-center mt-3 h-auto w-11/12 text-sm font-bold text-slate-900 dark:text-slate-400">
        {{name}}
      </div>
    </div>
  </div>
</template>

<style>

</style>