<script setup>
import { HeartIcon} from '@heroicons/vue/outline'
import { HeartIcon as SolidHeartIcon} from '@heroicons/vue/solid'
import { ref, computed, watch, onUnmounted } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

// const emit = defineEmits(["play", "pause", "duractionChange"])
// defineProps({
//   image: String,
//   song: String,
//   playing_song: Boolean,
//   title: String,
//   author: String,
//   currentTime: Number,
//   duration: Number,
// })

const currentSong = computed(() => {
  return store.state.player.song
})

// function play(){
//   emit("play")
// }
// function pause(){
//   emit("pause")
// }
// function change_duration(){
//   emit("duractionChange")
// }
function format(time) {   
    // Hours, minutes and seconds
    var hrs = ~~(time / 3600);
    var mins = ~~((time % 3600) / 60);
    var secs = ~~time % 60;

    // Output like "1:01" or "4:03:59" or "123:03:59"
    var ret = "";
    if (hrs > 0) {
        ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
    }
    ret += "" + mins + ":" + (secs < 10 ? "0" : "");
    ret += "" + secs;
    return ret;
}



let track = document.createElement('audio')
const slider = ref(0)
let timer

onUnmounted(()=>{
  track.src = store.state.player.song
  track.load()
  store.state.player.isPlay = false
})

const image = computed(() => {
  return store.state.player.image
})
let playing_song = computed(() => {
  return store.state.player.isPlay
})
const song = computed(() => {
  return store.state.player.song
})
let author = computed(() => {
  return store.state.player.author
})
const title = computed(() => {
  return store.state.player.title
})
const pkTrack = computed(() => {
  return store.state.player.pkTrack
})
const favory = computed(() => {
  try {
    return store.state.userSession.user_data.detail[0].favory
  }
  catch(error){
    return []
  }
})

watch(song, (song, prevSong) => {
	load_track(song)
	play()
  console.log(song)
})
watch(playing_song, (playing_song, prevSong) => {
	if(!playing_song){
		pause()
	}else{
		play()
	}
})
watch(pkTrack, (pkTrack, prevPkTrack) => {
	getSimilar(pkTrack)
})

function getSimilar(track_id) {
	store.dispatch('track/similars', {
    body: {
      track: track_id
    },
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
    store.commit('track/setSimilasTrackList', response.detail)
	})
	.catch((error) => {
		console.log(error)
	})
}

function load_track(song){
	crackUser(track.src)
	console.log(track.src, 'icii')
	clearInterval(timer)
	slider.value = 0
	track.src = song
	track.load()
	timer = setInterval(range_slider ,1000);
}

function crackUser(src){
	if(src!='' && track.currentTime>1){
		store.dispatch('userSession/crack', {
			time: track.currentTime,
			track: store.state.player.pkTrack,
			user: store.state.userSession.user_data.pk,
			api_key: store.state.userSession.api_key
		})
	}
}

function play(){
	track.play()
	store.commit('player/setIsPlay', true)
}

function pause(){
	track.pause()
	store.commit('player/setIsPlay', false)
}

function change_duration(){
	let slider_position = track.duration * (slider.value / 100)
	track.currentTime = slider_position
}

function range_slider(){
	let position = 0

	if(!isNaN(track.duration)){
		position = track.currentTime * (100 / track.duration)
		slider.value =  position
	}

	if(track.ended){
		slider.value = 0
		store.commit('player/setIsPlay', false)
		crackUser()
		play()
		pause()
		// clearInterval(timer)
	}
}

function makeFavorite(){
  try{
    store.dispatch('track/makeFavorite', {
      track_id: pkTrack.value,
      user: store.state.userSession.user_data.pk,
      api_key: store.state.userSession.api_key
    })
    .then((response) => {
      store.state.userSession.user_data.detail[0].favory.push(pkTrack.value)
    })
  }
  catch(error){
    console.log(error)
    makeFavorite()
  }
}

function removeFavorite(){
	store.dispatch('track/removeFavorite', {
    track_id: pkTrack.value,
    user: store.state.userSession.user_data.pk,
    api_key: store.state.userSession.api_key
  })
  .then(() => {
    store.state.userSession.user_data.detail[0].favory = store.state.userSession.user_data.detail[0].favory.filter(function(value, index, arr){ 
        return value != pkTrack.value;
    });
  })
}
</script>

<template>
<div class="2xm:fixed 2xm:bottom-10 2xm:w-full md:bottom-0 2xm:flex xl:grid xl:static xl:mt-2 xl:rounded-xl xl:shadow-2x shadow-blue-700" :style="'background-image: url('+image+') !important; background-size: 100% 100%;'">
  <div class="dark:bg-transparent bg-transparent xl:h-full pt-2 2xm:w-full xl:w-auto 2xm:backdrop-blur-[15px] xl:flex xl:items-center xl:rounded-xl">
    <a
      v-if="favory.includes(pkTrack)"
      @click="removeFavorite"
      class="rounded-full absolute xl:top-2 2xm:top-6 xl:left-2 2xm:right-2"
      href="javascript:void(0)"
      > <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--clarity h-5 w-5 mr-4 text-pink-100 font-bold" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="currentColor" d="M33 7.64c-1.34-2.75-5.2-5-9.69-3.69A9.87 9.87 0 0 0 18 7.72a9.87 9.87 0 0 0-5.31-3.77C8.19 2.66 4.34 4.89 3 7.64c-1.88 3.85-1.1 8.18 2.32 12.87C8 24.18 11.83 27.9 17.39 32.22a1 1 0 0 0 1.23 0c5.55-4.31 9.39-8 12.07-11.71c3.41-4.69 4.19-9.02 2.31-12.87Z" class="clr-i-solid clr-i-solid-path-1"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
    </a>
    <a
      v-if="!favory.includes(pkTrack)"
      @click="makeFavorite"
      class="rounded-full absolute xl:top-2 2xm:top-6 xl:left-2 2xm:right-2"
      href="javascript:void(0)"
      >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--clarity h-5 w-5 mr-4 text-pink-100" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="currentColor" d="M18 32.43a1 1 0 0 1-.61-.21C11.83 27.9 8 24.18 5.32 20.51C1.9 15.82 1.12 11.49 3 7.64c1.34-2.75 5.19-5 9.69-3.69A9.87 9.87 0 0 1 18 7.72a9.87 9.87 0 0 1 5.31-3.77c4.49-1.29 8.35.94 9.69 3.69c1.88 3.85 1.1 8.18-2.32 12.87c-2.68 3.67-6.51 7.39-12.07 11.71a1 1 0 0 1-.61.21ZM10.13 5.58A5.9 5.9 0 0 0 4.8 8.51c-1.55 3.18-.85 6.72 2.14 10.81A57.13 57.13 0 0 0 18 30.16a57.13 57.13 0 0 0 11.06-10.83c3-4.1 3.69-7.64 2.14-10.81c-1-2-4-3.59-7.34-2.65a8 8 0 0 0-4.94 4.2a1 1 0 0 1-1.85 0a7.93 7.93 0 0 0-4.94-4.2a7.31 7.31 0 0 0-2-.29Z" class="clr-i-outline clr-i-outline-path-1"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
    </a>
    <div class="xl:m-3 xl:my-7 2xm:w-full 2xm:flex xl:grid">
      <div class="bg-transparent xl:rounded-xl 2xm:flex xl:items-center 2xm:h-16">
        <div class="xl:flex-auto 2xm:flex mx-3 xl:items-center xl:justify-evenly">
          <button v-if="!playing_song" @click="play" type="button" class="bg-transparent text-slate-100 dark:text-white flex-none mb-4 mx-auto xl:w-20 xl:h-20 rounded-full ring-1 ring-gray-900/5 flex items-center justify-center" aria-label="Pause">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--clarity h-32" width="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
              <path fill="currentColor" d="M32.16 16.08L8.94 4.47A2.07 2.07 0 0 0 6 6.32v23.21a2.06 2.06 0 0 0 3 1.85l23.16-11.61a2.07 2.07 0 0 0 0-3.7Z" class="clr-i-solid clr-i-solid-path-1"></path>
              <path fill="none" d="M0 0h36v36H0z"></path>
            </svg>
          </button>
          <button v-else @click="pause" type="button" class="bg-transparent text-slate-100 dark:text-white flex-none mb-4 mx-auto xl:w-20 xl:h-20 rounded-full ring-1 ring-gray-900/5 flex items-center justify-center" aria-label="Pause">
            <svg width="30" height="32" fill="currentColor">
              <rect x="6" y="4" width="4" height="24" rx="2" />
              <rect x="20" y="4" width="4" height="24" rx="2" />
            </svg>
          </button>
        </div>
      </div>
      <div class="min-w-0 flex-auto xl:space-y-1 2xm:w-1/4 xl:w-auto font-semibold xl:text-center 2xm:text-left">
        <p class="font-normal text-slate-100 dark:text-white xl:text-center xl:w-full text-sm leading-6">
          {{title}} <br>
          <span class="font-light text-slate-100 dark:text-white text-sm leading-6 truncate">
            {{author}}
          </span>
        </p>
      </div>
      <div class="xl:space-y-1 2xm:invisible xl:visible">
        <div class="flex justify-between text-sm leading-6 font-thin tabular-nums">
          <div class="text-white">{{format(track.currentTime)}}</div>
          <div class="text-white">{{format(track.duration - track.currentTime)}}</div>
        </div>
      </div>
      <div class="2xm:invisible xl:visible">
        <input v-model="slider" @change="change_duration" class="w-full" type="range" min="0" max="100">
      </div>
    </div>
  </div>
</div>
</template>

<style scoped>
input[type="range"]{
	-webkit-appearance: none;
	@apply bg-white h-0.5;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
  @apply border-4 border-white;
	@apply bg-white;
}
</style>
