<script setup>
import { ref, computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import { TransitionRoot } from '@headlessui/vue'

const store = useStore()

const emit = defineEmits(["play", "pause"])
defineProps({
  image: String,
  author: String,
  song: String,
  playing_song: Boolean,
  title: String,
  duration: Number,
  id: Number,
})

let currentSong = computed(() => {
  return store.state.player.song
})

function format(time) {   
    // Hours, minutes and seconds
    var hrs = ~~(time / 3600);
    var mins = ~~((time % 3600) / 60);
    var secs = ~~time % 60;

    // Output like "1:01" or "4:03:59" or "123:03:59"
    var ret = "";
    if (hrs > 0) {
        ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
    }
    ret += "" + mins + ":" + (secs < 10 ? "0" : "");
    ret += "" + secs;
    return ret;
}

function play(song, title, image, author, id){
  emit("play", song, title, image, author, id)
}
function pause(){
  emit("pause")
}
const show = ref(false)
onMounted(() => {
  setInterval(()=>{
    show.value =  true
  } ,50)
})
</script>

<template>
<TransitionRoot
    :show="show"
    enter="transition ease-in-out duration-100"
    enter-from="translate-y-0"
    enter-to="-translate-y-10"
    leave="transition ease-out duration-100 transform"
    leave-from="translate-x-0"
    leave-to="-translate-x-10"
  >
  <div class="hover:-translate-y-1 hover:scale-11 relative flex bg-white-500 w-full h-20 my-1 rounded-2xl shadow-2xl shadow-blue-200/40 dark:shadow-slate-900/50">
    <div class="absolute flex left-2 top-2">
      <img class="w-16 rounded-full" :src="image">
      <p class="text-left mt-2 w-32 truncate">
        <span class="text-md lg:text-xs font-bold mt-1 ml-2 truncate">{{title}}</span> <br>
        <span  class="text-sm font-semibold mt-1 ml-2">{{format(duration) }}</span>
      </p>
    </div>

    <div class="absolute  flex right-2 top-5">
      <button v-if="!playing_song" @click="play(song, title, image, author, id)" class="text-cyan-400 dark:text-slate-700 rounded-full mr-1 w-10 h-10 backdrop-blur-sm">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--clarity h-8 w-8" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
          <path fill="currentColor" d="M32.16 16.08L8.94 4.47A2.07 2.07 0 0 0 6 6.32v23.21a2.06 2.06 0 0 0 3 1.85l23.16-11.61a2.07 2.07 0 0 0 0-3.7Z" class="clr-i-solid clr-i-solid-path-1"></path>
          <path fill="none" d="M0 0h36v36H0z"></path>
        </svg>
      </button>
      <button v-else-if="currentSong==song" @click="pause" class="text-cyan-400 dark:text-slate-700 rounded-full mr-1 w-10 h-10 backdrop-blur-sm">
        <svg width="30" height="32" fill="currentColor">
          <rect x="6" y="4" width="4" height="24" rx="2" />
          <rect x="20" y="4" width="4" height="24" rx="2" />
        </svg>
      </button>
      <button v-else @click="play(song, title, image, author, id)" class="text-cyan-400 dark:text-slate-700 rounded-full mr-1 w-10 h-10 backdrop-blur-sm">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--clarity h-8 w-8" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
          <path fill="currentColor" d="M32.16 16.08L8.94 4.47A2.07 2.07 0 0 0 6 6.32v23.21a2.06 2.06 0 0 0 3 1.85l23.16-11.61a2.07 2.07 0 0 0 0-3.7Z" class="clr-i-solid clr-i-solid-path-1"></path>
          <path fill="none" d="M0 0h36v36H0z"></path>
        </svg>
      </button>
    </div>
  </div>
</TransitionRoot>
</template>

<style>

</style>