<script setup>
import { ref, computed, onMounted } from 'vue'
import { useStore } from 'vuex'
import { TransitionRoot } from '@headlessui/vue'

const store = useStore()

const emit = defineEmits(["play", "pause"])
defineProps({
  image: String,
  author: String,
  song: String,
  playing_song: Boolean,
  title: String,
  id: Number,
})

let currentSong = computed(() => {
  return store.state.player.song
})

function play(song, title, image, author, id){
  emit("play", song, title, image, author, id)
}
function pause(){
  emit("pause")
}
const show = ref(false)
onMounted(() => {
  setInterval(()=>{
    show.value =  true
  } ,50)
})
</script>

<template>
<TransitionRoot
    :show="show"
    enter="transition ease-in duration-300 transform"
    enter-from="scale-0"
    enter-to="-scale-10"
    leave="transition ease-out duration-500 transform"
    leave-from="opacity-100"
    leave-to="opacity-0"
  >
<div class="">
  <div class="relative block md:w-40 md:h-40 2xm:w-32 2xm:h-32 sm:w-24 sm:h-24 xm:w-40 xm:h-40 shadow-2xl bg-slate-300/50 rounded-2xl">
    <div>
      <img :src="image" class="w-full h-full rounded-2xl" alt="" srcset="" />
      <a v-if="!playing_song" @click="play(song, title, image, author, id)" href="javascript:void(0)" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class=" md:h-16 md:w-16 xm:h-16 xm:w-16 sm:h-8 sm:w-8 2xm:h-12 2xm:w-12 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
        </svg>
      </a>
      <a v-else-if="currentSong==song" @click="pause" href="javascript:void(0)" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="md:h-16 md:w-16 xm:h-16 xm:w-16 sm:h-8 sm:w-8 2xm:h-12 2xm:w-12 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </a>
      <a v-else @click="play(song, title, image, author, id)" href="javascript:void(0)" class="shadow-orange-600 bg-cyan-900 shadow-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="md:h-16 md:w-16 xm:h-16 xm:w-16 sm:h-8 sm:w-8 2xm:h-12 2xm:w-12 bottom-0 right-0 absolute m-3 rounded-full shadow-2xl shadow-orange-600 hover:text-orange-600 text-cyan-600" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
  <p class="mt-3 justify-center text-center truncate md:w-40 sm:w-24 xm:w-40 2xm:w-32 md:text-sm sm:text-[10px] font-normal text-slate-700 dark:text-slate-600">
    <span class="font-medium text-slate-900 dark:text-slate-100 truncate">{{title}}
      </span> <br />
    {{author}}
  </p>
</div>
</TransitionRoot>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
