<template>
  <button @click="openModal" v-if="mode=='add'" class="text-green-600 rounded-full mr-1 hover:bg-green-800/30 p-2 w-10 h-10 backdrop-blur-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
  </button>
  <a @click="openModal" v-if="mode=='edit'" class="flex pt-2 pb-2 px-1 hover:bg-slate-500/20" href="javascript:void(0)">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
    </svg>
    Edit
  </a>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-slate-400/50 dark:bg-slate-800/50 z-40">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class=" inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white dark:bg-slate-800 shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-400"
                v-if="mode=='add'"
              >
                Add New Track
              </DialogTitle>
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-400"
                v-if="mode=='edit'"
              >
                Edit Track
              </DialogTitle>
              <br>
              <div class="mt-2">
                <div class="mb-6">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Title</label>
                  <input type="text" v-model="title" id="email" class="dark:bg-slate-700 border-gray-300 text-gray-900 dark:text-gray-100 text-sm rounded-lg block w-full p-2.5 " placeholder="" required>
                </div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Style</label>
                <div class="mb-1 flex flex-nowrap overflow-x-auto">
                  <div v-for="item in selected" :key="item" class="flex flex-nowrap mx-1 items-center rounded-full px-1 bg-slate-700 text-slate-100 w border-2 border-slate-500">
                    <span class="truncate text-sm">
                      {{item}}
                    </span>
                    <button @click="move(item)" class="w-4 h-4 ml-2">
                      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36">
                        <path fill="currentColor" d="m19.41 18l8.29-8.29a1 1 0 0 0-1.41-1.41L18 16.59l-8.29-8.3a1 1 0 0 0-1.42 1.42l8.3 8.29l-8.3 8.29A1 1 0 1 0 9.7 27.7l8.3-8.29l8.29 8.29a1 1 0 0 0 1.41-1.41Z" class="clr-i-outline clr-i-outline-path-1"></path>
                        <path fill="none" d="M0 0h36v36H0z"></path>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="mb-6">
                  <Listbox v-model="selectedStyle">
                    <div class="relative mt-1">
                      <ListboxButton
                        class="relative w-full py-2 pl-3 pr-10 text-left bg-white rounded-lg shadow-md cursor-default focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75 focus-visible:ring-white focus-visible:ring-offset-orange-300 focus-visible:ring-offset-2 focus-visible:border-indigo-500 sm:text-sm"
                      >
                        <span class="block truncate">{{ selectedStyle.name }}</span>
                        <span
                          class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
                          </svg>
                        </span>
                      </ListboxButton>

                      <transition
                        leave-active-class="transition duration-100 ease-in"
                        leave-from-class="opacity-100"
                        leave-to-class="opacity-0"
                      >
                        <ListboxOptions
                          class="absolute overflow-y-auto w-full py-1 mt-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-200 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                        >
                          <ListboxOption
                            v-slot="{  }"
                            v-for="style in styles"
                            :key="style.name"
                            :value="style"
                            as="template"
                          >
                            <li
                              :class="[
                                verif(style.name) ? 'text-amber-900 bg-amber-100' : 'text-gray-900',
                                'cursor-default select-none relative py-2 pl-10 pr-4',
                              ]"
                            >
                              <span
                                :class="[
                                  verif(style.name) ? 'font-medium' : 'font-normal',
                                  'block truncate',
                                ]"
                                >{{ style.name }}</span
                              >
                              <span
                                v-if="verif(style.name)"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600"
                              >
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg>
                              </span>
                            </li>
                          </ListboxOption>
                        </ListboxOptions>
                      </transition>
                    </div>
                  </Listbox>
                </div>
                <div class="mb-6">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Description</label>
                  <textarea v-model="description" class="dark:bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 " placeholder="" required></textarea>
                </div>
                <div class="mb-6">
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Song</label>
                  <input ref="file" accept="audio/*" @change="onFileChanged" type="file" class="dark:bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                </div>
                <button v-if="mode=='add'" @click="create" class="dark:bg-slate-900 dark:text-gray-400 w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                  Save
                </button>
                <button v-if="mode=='edit'" @click="update(pk_)" class="w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                  Update
                </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption
} from '@headlessui/vue'
import { useStore } from 'vuex'

const emit = defineEmits(['created', 'updated'])
const props = defineProps({
  mode: String,
  pk_: Number,
  albumPk: Number
})

const store = useStore()
const styles = store.state.until.categories
const selectedStyle = ref({name: "^Style"})
const selected = ref([])
const selectedId = ref([])
const isOpen = ref(false)
const title = ref('')
const description = ref('')
const song = ref('')
const trak = document.createElement('audio')

watch(selectedStyle, (selectedStyle, prevSelectedStyle) => {
  let verif = false
  for(let i=0; i<selected.value.length; i++){
    if(selected.value[i] == selectedStyle.name){
      verif = true
    }
  }
	if(verif){
		selected.value = selected.value.filter(function(value, index, arr){ 
      return value != selectedStyle.name;
    });
    selectedId.value = selectedId.value.filter(function(value, index, arr){ 
      return value != selectedStyle.id;
    });
	}else{
		selected.value.push(selectedStyle.name)
    selectedId.value.push(selectedStyle.id)
	}
  console.log(selectedId.value)
})

function move(item){
  let ids = []
  selected.value = selected.value.filter(function(value, index, arr){
    return value != item;
  })
  for(let i=0; i<selected.value.length; i++){
    for(let j=0; j<styles.value.length; j++){
      if(selected.value[i] == selectedStyle.value[j].name){
        ids.push(selectedStyle.value[j].id)
      }
    }
  }
  selectedId.value = ids.value
}

function verif(item){
  let verif = false
  for(let i=0; i<selected.value.length; i++){
    if(selected.value[i] == item){
      verif = true
    }
  }
  return verif
}

function resolveTrack(pk) {
  const list = store.state.album.albumsList
	list.forEach(album => {
		if (album.pk == props.albumPk){
      let l = album.tracks
      l.forEach(track => {
        if (track.id == pk){
          console.log(track)
          title.value = track.title
          description.value = track.description
          for(let i = 0; i<track.style.length; i++){
            selected.value.push(track.style[i].name)
            selectedId.value.push(track.style[i].id)
          }
        }
      })
  	}
	})
}

if (props.mode == 'edit'){
  resolveTrack(props.pk_)
  console.log(selected.value, 'iiiiiiiiiiiiiiii')
}

function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => resolve(reader.result)
    reader.onerror = error => reject(error)
  })
}

function onFileChanged(event) {
  const target = event.target
  const file = target.files[0]
  trak.src = URL.createObjectURL(file)
  trak.load()
  trak.play()
  trak.pause()
  getBase64(file).then(
    data => {
      song.value = data
    }
  )
}

function create() {
  store.dispatch('track/create', {
    body: {
      style: selectedId.value,
      album: props.albumPk,
      title: title.value,
      description: description.value,
      song: song.value,
      duration: trak.duration
    },
    api_key: store.state.userSession.api_key
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('created')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}

function update(pk) {
  store.dispatch('track/update', {
    body: {
      style: selectedId.value,
      album: props.albumPk,
      title: title.value,
      description: description.value,
      song: song.value,
      duration: trak.duration
    },
    api_key: store.state.userSession.api_key,
    pk: pk
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('updated')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}

const closeModal = function() {
  isOpen.value = false
}
const openModal = function() {
  isOpen.value = true
  if (props.mode == 'edit'){
    resolveTrack(props.pk_)
  }
  console.log(props.mode, props.pk_, props.albumPk)
}
</script>
