<template>
  <div>
    <div class="container dark:bg-slate-800 bg-white">
      <!-- BEGIN: Error Page -->
      <div
        class="flex items-center justify-center h-screen"
      >
        <div class="mr-2">
          <img
            alt="404"
            class="h-48 lg:h-auto"
            src="/api/media/error-page0.svg"
          >
        </div>
        <div class="text-slate-600 mt-10 lg:mt-0">
          <div class="intro-x text-8xl font-medium">
            404
          </div>
          <div class="intro-x text-xl lg:text-3xl font-medium mt-5">
            Oops. This page has gone missing.
          </div>
          <div class="intro-x text-lg mt-3">
            You may have mistyped the address or the page may have moved.
          </div>
          <a
            href="/"
            class="pt-5 px-4 text-white border-white dark:border-dark-5 dark:text-gray-300 mt-10"
          >
            Back to Home
          </a>
        </div>
      </div>
      <!-- END: Error Page -->
    </div>
  </div>
</template>

<script>
import { defineComponent, onMounted } from 'vue'

export default defineComponent({
  components: {
    // DarkModeSwitcher
  },
  setup () {
    onMounted(() => {
    })
  }
})
</script>
