<template>
    <button @click="openModal" v-if="mode=='add'" class="text-green-600 rounded-full mr-1 hover:bg-green-800/30 p-2 w-10 h-10 backdrop-blur-sm">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </button>
    <a @click="openModal" v-if="mode=='edit'" class="flex pt-2 pb-2 px-1 hover:bg-slate-500/20" href="javascript:void(0)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
      </svg>
      Edit
    </a>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog :initialFocus="completeButtonRef"  :open="isOpen" as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-slate-900/50 z-50">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-tole>
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class=" inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900"
                v-if="mode=='add'"
              >
                Add New Album
              </DialogTitle>
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900"
                v-if="mode=='edit'"
              >
                Edit Album
              </DialogTitle>
              <br>
              <div class="mt-2">
                  <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                    <input ref="completeButtonRef" v-model="name" type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="" required>
                  </div>
                  <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Cover</label>
                    <input ref="file" accept="image/*" id="img" @change="onFileChanged" type="file" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                  </div>
                  <button v-if="mode=='add'" @click="create" class="w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                    Save
                  </button>
                  <button v-if="mode=='edit'" @click="update(pk_)" class="w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                    Update
                  </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Switch,
} from '@headlessui/vue'
import { useStore } from 'vuex'

const emit = defineEmits(['created', 'updated'])
const props = defineProps({
  mode: String,
  pk_: Number
})

let completeButtonRef = null
const name = ref('')
const cover = ref('')
const store = useStore()

const isOpen = ref(false)
const isArtist = ref(false)
const currentAlbum = ref({})

function resolveAlbums(pk) {
  const list = store.state.album.albumsList
	list.forEach(album => {
		if (album.pk == pk){
			name.value = album.name
		}
	})
}

if (props.mode == 'edit'){
  resolveAlbums(props.pk_)
}

function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => resolve(reader.result)
    reader.onerror = error => reject(error)
  })
}

function onFileChanged(event) {
  const target = event.target
  const file = target.files[0]
  getBase64(file).then(
    data => {cover.value = data}
  )
}

function create() {
  store.dispatch('album/create', {
    body: {
      image: cover.value,
      auteur: store.state.userSession.user_data.pk,
      name: name.value,
    },
    api_key: store.state.userSession.api_key
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('created')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}

function update(pk) {
  store.dispatch('album/update', {
    body: {
      image: cover.value,
      auteur: store.state.userSession.user_data.pk,
      name: name.value,
    },
    api_key: store.state.userSession.api_key,
    pk: pk
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('updated')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}

const closeModal = function() {
  isOpen.value = false
}

const openModal = function() {
  isOpen.value = true
  console.log(props.mode)
}
</script>
