<script setup>
import { ref, onMounted } from "vue"
import CEModal from "./modal/CEModal.vue"
import DModal from "./modal/DModal.vue"
import { fetcherTimeout } from '../../utils/fetcher'
import { useStore } from 'vuex'

const store = useStore()
const userList = ref([])

function getUsers() {
	fetcherTimeout(
		5000,
		fetch('/api/core/user/', {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json',
				Authorization: 'Bearer ' + store.state.userSession.api_key
			}
		})
			.then(function (response) {
				return response.json()
			})
			.then((response) => {
				console.log(response)
				userList.value = response
			})
			.catch((error) => {
				console.log(error)
			})
	)
}

function resolveUsers (user) {
	if(user.detail.length == 0){
		return ''
	}
	if (user.detail[0].is_artist && user.is_superuser){
		return 'Artist/Admin'
	}else{
		if (user.is_superuser){
			return 'Admin'
		}else {
			if (user.detail[0].is_artist) {
				return 'Artist'
			}else{
				return 'Client'
			}
		}
	}
}

onMounted(() => {
	getUsers()
})

</script>

<template>
<div>

<div class="relative w-11/12 mt-8">
	<div class="absolute left-10 font-bold text-lg">Users List</div>
	<div class="absolute right-10 underline">
		<CEModal mode='add' @created="getUsers" /> 
		<button @click="getUsers" class="text-blue-700 rounded-full mr-1 hover:bg-blue-800/30 p-2 w-10 h-10 backdrop-blur-sm">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
			</svg>
		</button>
	</div>
</div>

<br> <br>

<div class="grid md:grid-cols-1 xl:grid-cols-2 gap-0 ml-10 text-slate-800 dark:text-slate-400">
	<div v-for="user in userList" :key="user" v-show="user.detail.length != 0">
		<div v-if="user.detail.length != 0" class="hover:-translate-y-1 hover:scale-11 relative flex bg-white-500 xl:w-96 md:w-10/12 h-20 my-1 rounded-2xl shadow-md">
			<div class="absolute flex left-2 top-2">
				<img class="w-16 rounded-full" src="https://cdn4.iconfinder.com/data/icons/avatars-21/512/avatar-circle-human-male-black-7-512.png">
				<div>
					<p class="text-md lg:text-xs font-bold mt-1 ml-2">{{user.email}}</p>
					<p  class="text-sm font-semibold mt-1 ml-2">{{ resolveUsers(user)	}}</p>
				</div>
			</div>

			<div class="absolute flex right-2 top-5">
				<CEModal mode='edit' @updated="getUsers" :email_="user.email" :pk_="user.pk" :is_admin_="user.is_superuser"  :is_artist_="user.detail[0].is_artist" />
				<DModal :pk_="user.pk" @deleted="getUsers" />
			</div>
		</div>
	</div>
</div>
</div>
</template>

<style>
</style>
