<script setup>
import { 
         ChevronRightIcon } from '@heroicons/vue/outline'
import { ref, onMounted, computed, watch } from "vue"
import { useStore } from 'vuex'
import TrackCard from '../../components/TrackCard.vue'
import AlbumCard from '../../components/AlbumCard.vue'

const store = useStore()

const props = defineProps({
  title: String,
  functionn: String,
  menu: String
})
const trackList = ref([])
const recommandedList = ref([])
const albumList = ref([])
const wait = ref([true, true, true])
const proxy = computed(() => {
	return store.state.until.proxy
})
const style = computed(() => {
	return store.state.until.selectedStyle
})

function getAlbum() {
	store.dispatch('album/top50album', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		albumList.value = response.detail.slice(0, 4)
		wait.value[0] = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function getTrack() {
	store.dispatch('album/top50', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		trackList.value = response.detail.slice(0, 4)
		console.log(trackList.value)
		wait.value[1] = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function getRecommend() {
	store.dispatch('album/getRecommanded', {
    api_key: store.state.userSession.api_key,
		user: JSON.parse(window.atob(sessionStorage.getItem('key').split('.')[1])).data.user_id
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		recommandedList.value = response.detail.slice(0, 4)
		wait.value[2] = false
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
	getTrack()
	getAlbum()
	getRecommend()
})
watch(style, (style, prevStyle) => {
	wait.value[0] = true
	wait.value[1] = true
	wait.value[2] = true
	getTrack()
	getAlbum()
})


let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false) // tailwindcss
}
</script>

<template>
<div class="flex flex-wrap mt-8 justify-center" v-if="wait[0] && wait[1] && wait[2]">
	<div class="flex mx-auto dark:text-white text-slate-700">
		<svg v-if="true" class="animate-spin h-8 w-8 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
			<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
			<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
		</svg>
	</div>
</div>

<div v-else>
	<div class="flex flex-nowrap overflow-x-auto h mx-auto md:ml-10 xm:ml-5 mt-5">
		<div class="space-x-2 flex flex-nowrap overflow-x-auto text-sm">
				<a :class="store.state.until.selectedStyle==-1 ? 'bg-blue-500/10 text-blue-500' : ''" @click="store.commit('setSelectedStyle', -1)" href="#" class="px-2 h-9 min-w-fit shadow-2xl rounded-3xl flex items-center justify-center focus:font-semibold font-semibold text-slate-500 focus:bg-blue-500/10 focus:text-blue-500">
					All categories
				</a>
				<a :class="store.state.until.selectedStyle==style.id ? 'bg-blue-500/10 text-blue-500' : ''" @click="store.commit('setSelectedStyle', style.id)" v-for="style in store.state.until.categories" :key="style" href="javascript:void(0)" class="px-2 h-9 min-w-fit rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-blue-500/10 focus:text-blue-500">
					{{style.name}}
				</a>
		</div>
	</div>

	<div class="relative xl:w-10/12 xm:w-full mt-8">
		<div class="absolute md:left-10 xm:left-5 font-bold">Global Top 50</div>
		<div class="absolute md:right-10 xm:right-5 -bottom-8 underline flex">
			<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/catalog/Global Top 50/top50/home"
			>
				<a :href="href" @click="navigate" class="text-sm font-semibold p-2 rounded-full mr-1 hover:bg-green-800/30 w-10 h-10 backdrop-blur-sm flex" :class="isExactActive ? 'text-orange-500': ''">
					<ChevronRightIcon class="h-6 w-6"/>
				</a>
			</router-link>
		</div>
	</div> <br>

	<div class="flex flex-nowrap overflow-x-auto md:pl-10 xm:pl-1">
		<div class="mt-6 transition hover:-translate-y-1 hover:scale-11 flex px-4" v-for="track in trackList" :key="track">
			<track-card
				:id="track.id"
				:title="track.title"
				:song="proxy+track.song"
				:image="proxy+track.album.image"
				:author="track.album.auteur.username"
				:playing_song="playing_song"
				@pause="pause"
				@play="play"
			/>
		</div>
	</div>

	<br> <br>

	<div class="relative xl:w-10/12 xm:w-full mt-1">
		<div class="absolute md:left-10 xm:left-5 font-bold">Songs You Might Like</div>
		<div class="absolute md:right-10 xm:right-5 -bottom-8 underline">
			<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/catalog/Recommanded/r/r"
			>
				<a :href="href" @click="navigate" class="text-sm p-2 font-semibold rounded-full mr-1 hover:bg-green-800/30 w-10 h-10 backdrop-blur-sm flex" :class="isExactActive ? 'text-orange-500': ''">
					<ChevronRightIcon class="h-6 w-6"/>
				</a>
			</router-link>
		</div>
	</div> <br>

	<div class="flex flex-nowrap overflow-x-auto md:pl-10 xm:pl-1">
		<div class="mt-6 transition hover:-translate-y-1 hover:scale-11 flex px-4" v-for="track in recommandedList" :key="track">
			<track-card
				:id="track.id"
				:title="track.title"
				:song="proxy+track.song"
				:image="proxy+track.album.image"
				:author="track.album.auteur.username"
				:playing_song="playing_song"
				@pause="pause"
				@play="play"
			/>
		</div>
	</div>

	<br> <br>


	<div class="relative xl:w-10/12 xm:w-full mt-6">
		<div class="absolute md:left-10 xm:left-5 font-bold">Global Top 50</div>
		<div class="absolute md:right-10 xm:right-5 -bottom-8 underline">
			<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/catalog/Global Top 50/top50/home"
			>
				<a :href="href" @click="navigate" class="text-sm p-2 font-semibold rounded-full mr-1 hover:bg-green-800/30 w-10 h-10 backdrop-blur-sm flex" :class="isExactActive ? 'text-orange-500': ''">
					<ChevronRightIcon class="h-6 w-6"/>
				</a>
			</router-link>
		</div>
	</div> <br>

	<div class="flex flex-nowrap overflow-x-auto md:pl-10 xm:pl-1 pt-2">
		<a href="" class=" transition hover:-translate-y-1 hover:scale-11 mb-16" v-for="album in albumList" :key="album">
			<album-card
				:pk="album.pk"
				:name="album.name"
				:image="proxy+album.image"
				:length="album.tracks.length"
			/>
		</a>
	</div>

	<br> <br>

	<div class="relative xl:w-10/12 xm:w-full mt-6">
		<div class="absolute md:left-10 xm:left-5 font-bold">Global Top Artists</div>
		<div class="absolute md:right-10 xm:right-5 -bottom-8 underline">
			<router-link
				custom
				v-slot="{isExactActive, href, navigate}"
				to="/catalog/Global Top 50/top50/home"
			>
				<a :href="href" @click="navigate" class="text-sm p-2 font-semibold rounded-full mr-1 hover:bg-green-800/30 w-10 h-10 backdrop-blur-sm flex" :class="isExactActive ? 'text-orange-500': ''">
					<ChevronRightIcon class="h-6 w-6"/>
				</a>
			</router-link>
		</div>
	</div> <br>

	<div class="flex flex-nowrap overflow-x-auto md:pl-10 xm:pl-1 pt-4 h-52">
		<a href="" class="my-1 transition hover:-translate-y-1 slide-fade hover:scale-10 ml-5 mr-2" v-for="i in 4" :key="i">
			<div class="relative block w-40 h-40 shadow-2xl bg-slate-300 rounded-full">
				<div>
					<img src="https://i.scdn.co/image/ab67616d00001e0253b00338631509f18fb3c48a" class="w-full h-full rounded-full" alt="" srcset="" />
				</div>
				<p class="text-center w-full text-[10px] font-bold mt-3">Maitre Gims</p>
			</div>
		</a>
	</div>
</div>
</template>

<style>

</style>
