<script setup>
import {onMounted, computed, watch, ref} from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { fetcherTimeout } from './utils/fetcher'

const route = useRoute()
const router = useRouter()
const store = useStore()
const proxy = computed(() => {
	return store.state.until.proxy
})
const dark = ref(false)

function parseJwt (token) {
    var base64Url = token.split('.')[1]
    var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/')
    var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
    }).join(''))

    return JSON.parse(jsonPayload);
}

function getUser(pk) {
	store.dispatch("userSession/getThisUser", {
		pk: pk,
		api_key: sessionStorage.getItem('key')
	})
	.then(function (response) {
		console.log(response)
		return response.json()
	})
	.then((response) => {
		console.log(response)
		store.commit('userSession/setUserData', response)
		store.commit('userSession/setRole', resolveUsers(response))
	})
	.catch((error) => {
		console.log(error)
	})
}

function getCategories() {
	store.dispatch('getCategories', {
    api_key: sessionStorage.getItem('key')
  })
    .then(function (response) {
			return response.json()
		})
		.then((response) => {
			console.log(response)
			store.commit('setCategories', response)
		})
		.catch((error) => {
			console.log(error)
		})
}

function resolveUsers (user) {
	if(user.detail.length == 0){
		return ''
	}
	if (user.detail[0].is_artist && user.is_superuser){
		return 'Artist/Admin'
	}else{
		if (user.is_superuser){
			return 'Admin'
		}else {
			if (user.detail[0].is_artist) {
				return 'Artist'
			}else{
				return 'Client'
			}
		}
	}
}

const largeur =  ref(window.innerWidth)
setInterval(()=>{
	store.dispatch('userSession/authentificate')
		.then(isAuth => {
			if (!isAuth) {
				router.push({ name: 'h' })
			}else{
				store.commit('setIsH', true)
				console.log('authenticated')
				// router.push({ name: 'Home' })
			}
		})
} ,3000)

onMounted(() => {
	getCategories()
	store.dispatch('userSession/authentificate')
		.then(isAuth => {
			if (!isAuth) {
				router.push({ name: 'h' })
			}else{
				store.commit('setIsH', true)
				console.log('authenticated')
				// router.push({ name: 'Home' })
			}
		})
  if(sessionStorage.getItem('key')!='null' && sessionStorage.getItem('key')!=null && sessionStorage.getItem('key')!='undefined' && sessionStorage.getItem('key')!=undefined){
		console.log(sessionStorage.getItem('key'))
		getCategories()
    getUser(parseJwt(sessionStorage.getItem('key')).data.user_id)
  }else{
		router.push({ name: 'h' })
	}

	if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		document.documentElement.classList.add('dark')
		dark.value = true
	} else {
		document.documentElement.classList.remove('dark')
		localStorage.theme = 'light'
		dark.value = false
	}
})
const isH = computed(() => {
  return store.state.until.isH
})
</script>

<template>
  <router-view />
</template>

<style>
</style>
