<script setup>
import { ref, watch, computed, onMounted } from "vue"
import { useStore } from 'vuex'
import RecommendedTrackCard from '../../components/RecommendedTrackCard.vue'
import AlbumCard from '../../components/AlbumCard.vue'
import moment from 'moment'

const store = useStore()

// const props = defineProps({
//   title: String,
//   functionn: String,
//   menu: String
// })
const activityList = ref([])
const proxy = computed(() => {
	return store.state.until.proxy
})
const timeList = ref([])

function getTrack() {
	store.dispatch('userSession/getAtivity', {
    pk: store.state.userSession.user_data.pk,
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		activityList.value = response.results //.slice(0, 9)
		for(let i=0; i<response.results.length; i++){
			timeList.value.push(response.results[i].created_at.slice(0, 10))
		}
		timeList.value = removeDuplicatedItems(timeList.value)
		console.log(activityList.value )
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
  getTrack()
})

let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}
function removeDuplicatedItems(arr){
	return [...new Set(arr)]
}
</script>

<template>

<div class="grid grid-cols-1 gap-0 md:ml-0 2xm:ml-1 mt-5 w-full">
    <div class="transition hover:-translate-y-1 hover:scale-11 w-full" v-for="time in timeList" :key="time">
      <p class="text-center w-full mt-3">
        {{moment(time, "YYYY-MM-DD").format("Do MMM YY")}}
      </p>
		<div class="max-w-md mx-2">
      <div v-for="activity in activityList" :key="activity">
				<recommended-track-card
					v-if="activity.created_at.slice(0, 10) == time"
					:id="activity.track.id"
					:title="activity.track.title"
					:song="proxy+activity.track.song"
					:image="proxy+activity.track.album.image"
					:author="activity.track.album.auteur.username"
					:playing_song="playing_song"
					:duration="activity.track.duration"
					@pause="pause"
					@play="play"
				/>
			</div>
    </div>
	</div>
</div>

</template>

<style>
</style>
