<script setup>
import {ref, computed} from 'vue'
import { useStore } from 'vuex'
import Songs from './Songs.vue'
import Activity from './Activity.vue'
import Notification from './Notification.vue'
import { useRoute, useRouter } from 'vue-router'


const route = useRoute()
const router = useRouter()
const store = useStore()
const menu = ref('Songs')
const proxy = computed(() => {
	return store.state.until.proxy
})
</script>

<template>
  <div id="banner" class="relative w-full h-36">

    <div class="relative flex flex-col h-32 w-32 rounded-full bg-white border-4 border-solid border-blue-100 dark:border-white -bottom-16 sm:left-16 2xm:left-5">
      <img class="w-full rounded-full" :src="proxy+store.state.userSession.user_data.detail[0].image">
      <p class="text-left font-semibold text-xl w-16 mt-3">
        <span class="truncate">
          {{store.state.userSession.user_data.username}}
        </span> <br>
        <span class="truncate text-sm dark:text-blue-300 text-blue-500">
          @Alias
        </span> <br>
        <span class="truncate text-sm dark:text-blue-100 text-blue-400">
          1000
        </span>
        <span class="truncate text-sm text-gray-500">
          Followers   
        </span>
        <span class="truncate text-sm dark:text-blue-100 text-blue-400 ml-2">
          100
        </span>
        <span class="truncate text-sm text-gray-500">
          Followings
        </span>
        <span class="truncate text-sm dark:text-blue-100 text-blue-400 ml-2">
          400
        </span>
        <span class="truncate text-sm text-gray-500">
          Songs  
        </span>
      </p>
    </div>
    
    <button @click="router.push({ name: 'setting', params: {pk: store.state.userSession.user_data.pk} })" class="absolute -bottom-10 sm:right-16 2xm:right-4 w-40 h-10 shadow-2xl rounded-full border-solid border-2 border-blue-400 hover:text-white text-blue-400 shadow-blue-400 bg-transparent hover:bg-blue-500 font-bold font-sm">
        Profile Settings
    </button>

  </div>

  <center>
    <div class="w-full mt-44">
      <div class="mb-8">
        <div v-if="menu=='Songs'" class="inline-block">
          <a href="javascript:void(0)" class="mr-2 py-5 px-4 text-sm text-blue-400 font-bold rounded-lg" aria-current="page">
            Songs
          </a>
          <div class="w-full h-0.5 mt-1 rounded-md bg-blue-400"></div>
        </div>
        <a @click="menu='Songs'" v-if="menu!='Songs'" href="javascript:void(0)" class="mr-2 inline-block py-3 px-4 text-sm font-bold text-gray-500 dark:text-gray-400 dark:hover:text-white">
          Songs
        </a>

        <div v-if="menu=='Activity'" class="inline-block">
          <a href="javascript:void(0)" class="mr-2 py-3 px-4 text-sm text-blue-400 font-bold rounded-lg" aria-current="page">
            Activity
          </a>
          <div class="w-full h-0.5 mt-1 rounded-md bg-blue-400"></div>
        </div>
        <a @click="menu='Activity'" v-if="menu!='Activity'" href="javascript:void(0)" class="mr-2 inline-block py-3 px-4 text-sm font-bold text-gray-500 dark:text-gray-400 dark:hover:text-white">
          Activity
        </a>

        <div v-if="menu=='Notifications'" class="inline-block">
          <a href="javascript:void(0)" class="mr-2 py-3 px-4 text-sm text-blue-400 font-bold rounded-lg" aria-current="page">
            Notifications
          </a>
          <div class="w-full h-0.5 mt-1 rounded-md bg-blue-400"></div>
        </div>
        <a @click="menu='Notifications'" v-if="menu!='Notifications'" href="javascript:void(0)" class="mr-2 inline-block py-3 px-4 text-sm font-bold text-gray-500 dark:text-gray-400 dark:hover:text-white">
          Notifications
        </a>

      </div>
    </div>
  </center>

  <center>
    <Songs v-if="menu=='Songs'"/>
    <Activity v-if="menu=='Activity'"/>
    <Notification/>
  </center>
</template>

<style>
#banner{
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='60' viewBox='0 0 70 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2360a5fa' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
</style>