<script setup>
</script>

<template>
  <div class="bg-blue-800/10 border-t border-b border-blue-500 text-blue-400 px-4 py-3 max-w-md" role="alert">
    <p class="text-left">
      <span class="font-bold">Informational message</span> <br>
      <span class="text-sm">Some additional text to explain said message.</span>
    </p>
  </div>
</template>

<style>

</style>