<script setup>
import Multiselect from 'vue-multiselect'
import {ref, onMounted} from 'vue'
import { useStore } from 'vuex'
import { fetcherTimeout } from '../../utils/fetcher'
import { useRoute, useRouter } from 'vue-router'
const router = useRouter()

const props = defineProps({
  pk: Number
})

const store = useStore()

const gender = ref('Female')

const username = ref(null)
const email = ref(null)
const alias = ref(null)
const state = ref(null)
const city = ref(null)
const phone = ref(null)
const birthday = ref(null)
const waiting = ref(false)
const image_url = ref('')
const detail_pk = ref('')

function getUser(pk) {
	store.dispatch("userSession/getThisUser", {
		pk: pk,
		api_key: store.state.userSession.api_key
	})
	.then(function (response) {
		console.log(response)
		return response.json()
	})
	.then((response) => {
		console.log(response)
		username.value = response.username
    email.value = response.email
    state.value = response.detail[0].state
    city.value = response.detail[0].city
    phone.value = response.detail[0].phone
    birthday.value = response.detail[0].birth_day
    image_url.value = response.detail[0].image
    detail_pk.value = response.detail[0].id
    gender.value = response.detail[0].genre
	})
	.catch((error) => {
		console.log(error)
	})
}

function saveFirst(pk) {
  waiting.value = true
	fetcherTimeout(
    5000,
    fetch('/api/core/user/' + pk + '/', {
      method: 'PUT',
      body: JSON.stringify({
        username: username.value,
        email: email.value
      }),
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
        Authorization: 'Bearer ' + store.state.userSession.api_key
      }
    })
  )
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
    waiting.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function saveSecond(pk) {
  waiting.value = true
	fetcherTimeout(
    5000,
    fetch('/api/core/user-detail/' + pk + '/', {
      method: 'PUT',
      body: JSON.stringify({
        user: props.pk,
        state: state.value,
        city: city.value,
        phone: phone.value,
        birthday: birthday.value,
        image_url: image_url.value,
        genre: gender.value
      }),
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
        Authorization: 'Bearer ' + store.state.userSession.api_key
      }
    })
  )
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
    waiting.value = false
	})
	.catch((error) => {
		console.log(error)
	})
}

function save(){
  saveFirst(props.pk)
  saveSecond(detail_pk.value)
}

onMounted(() => {
  getUser(props.pk)
  console.log(props.pk)
})
</script>


<template>
  <div class="grid grid-cols-1 gap-1 ml-5 text-slate-800 pr-2 w-full">
    <p class="text-3xl mb-8 dark:text-slate-100 text-slate-700 flex">
      <button @click="router.go(-1)" class="bg-tranparent text-slate-300 rounded-full mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--iconoir" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 6l-6 6l6 6"></path></svg>
      </button> Settings
    </p>
    <div class="flex items-center">
      <img class="w-40 rounded-full" :src="store.state.until.proxy+image_url">
      <div class="max-w-sm w-96 ml-5 z-10">
        <input
          v-model="username"
          type="text"
        class="py-3 px-4 mx-3 w-3/4 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none"
          placeholder="User name"
        >
        <input
          v-model="email"
          type="email"
        class="py-3 px-4 mx-3 w-3/4 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none "
          placeholder="Email"
        >
      </div>
    </div>

    <div class="my-4 h-[1px] w-full text-slate-700 bg-slate-300 dark:bg-slate-600">.</div>

    <div class="flex">
      <input
        v-model="alias"
        type="text"
          class="py-3 px-4 mx-3 w-40 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none "
        placeholder="@Alias"
      >
      <input
        v-model="phone"
        type="tel"
        class="py-3 px-4 mx-3 w-40 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none "
        placeholder="Phone"
      >
    </div>

    <div class="my-4 h-[1px] w-full text-slate-700 bg-slate-300 dark:bg-slate-600"></div>

    <div class="flex">
      <input
        v-model="state"
        type="text"
        class="py-3 px-4 mx-3 w-40 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none "
        placeholder="State"
      >
      <input
        v-model="city"
        type="text"
        class="py-3 px-4 mx-3 w-40 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none "
        placeholder="City"
      >
    </div>

    <div class="flex flex-nowrap">
      <input
        v-model="birthday"
        max="2022-01-01"
        type="date"
        class="py-3 px-4 mx-3 w-40 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none "
        placeholder="State"
      >
      <select v-model="gender" class="py-3 px-4 ml-3 w-40 mt-4 bg-slate-100 dark:bg-slate-500/50 text-slate-700 dark:text-slate-100 border-0 border-gray-200 rounded focus:outline-none ">
        <optgroup label="Please choose Gender">
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </optgroup>
      </select>
    </div>

    <div class="my-4 h-[1px] w-full text-slate-700 bg-slate-300 dark:bg-slate-600"></div>

    <button type="button" @click="save" class="sm:w-48 h-10 mt-6 flex justify-center items-center shadow-2xl rounded-md text-white shadow-blue-400 bg-blue-500 hover:bg-blue-600 font-bold font-sm">
      <div class="flex ">
        <svg v-if="waiting" class="animate-spin h-5 w-5 mr-2 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Save
      </div>
    </button>
  </div>
</template>

<style>

</style>