<script setup>
import { ref, watch, computed, onMounted } from "vue"
import { useStore } from 'vuex'
import TrackCard from '../../components/TrackCard.vue'
import AlbumCard from '../../components/AlbumCard.vue'
import { fetcherTimeout } from '../../utils/fetcher'

const store = useStore()

// const props = defineProps({
//   title: String,
//   functionn: String,
//   menu: String
// })
const albumList = ref([])
const proxy = computed(() => {
	return store.state.until.proxy
})

function top50() {
	store.dispatch('album/getSelfAlbums', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		trackList.value = response.detail
		console.log(trackList.value, 'ici')
	})
	.catch((error) => {
		console.log(error)
	})
}

onMounted(() => {
  getAlbum()
})

function getAlbum() {
	fetcherTimeout(
		10000,
		fetch('/api/stock/album/?user=' + store.state.userSession.user_data.pk, {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json',
				Authorization: 'Bearer ' + store.state.userSession.api_key
			}
		})
			.then(function (response) {
				return response.json()
			})
			.then((response) => {
				console.log(response)
				albumList.value = response
				store.state.album.albumsList = response
			})
			.catch((error) => {
				console.log(error)
			})
	)
}
</script>

<template>

<div class="flex flex-nowrap overflow-x-auto h mx-auto md:ml-10 xm:ml-5 mt-5">
	<a href="" class="mb-12 transition hover:-translate-y-1 hover:scale-11 h-64" v-for="album in albumList" :key="album">
		<album-card
			:pk="album.pk"
			:name="album.name"
			:image="proxy+album.image"
			:length="album.tracks.length"
		/>
	</a>
</div>

</template>

<style>
</style>
