<script setup>
import { ref, onMounted, computed, watch } from "vue"
import { PlayIcon,
         MenuAlt1Icon,
         HomeIcon,
         SearchIcon,
         ClockIcon,
         ArchiveIcon,
         UserIcon,
         HeartIcon,
         UsersIcon,
         StatusOnlineIcon,
         CogIcon,
         LogoutIcon,
         LoginIcon,
         InformationCircleIcon,
         XIcon } from '@heroicons/vue/outline'
import TrackCard from '../../components/TrackCard.vue'
import { useStore } from 'vuex'

const store = useStore()

const props = defineProps({
  title: String,
  functionn: String,
  menu: String
})
const trackList = ref([])
const search = ref('')
const style = computed(() => {
	return store.state.until.selectedStyle
})
watch(search, (search, prevSong) => {
	searchTrack()
})
watch(style, (style, prevStyle) => {
	searchTrack()
})

function searchTrack() {
	store.dispatch('album/searchTracks', {
		props: search.value,
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		if (JSON.stringify(response) == JSON.stringify({detail:"Empty", status:200})){
			trackList.value = []
		}
		else{
			trackList.value = response
		}
	})
	.catch((error) => {
		console.log(error)
	})
}

function getTrack() {
	store.dispatch('album/getTracks', {
    api_key: store.state.userSession.api_key
  })
	.then(function (response) {
		return response.json()
	})
	.then((response) => {
		console.log(response)
		if (JSON.stringify(response) == JSON.stringify({detail:"Empty", status:200})){
			trackList.value = []
		}
		else{
			trackList.value = response
		}
	})
	.catch((error) => {
		console.log(error)
	})
}


let playing_song = computed(() => {
  return store.state.player.isPlay
})

let song = computed(() => {
  return store.state.player.song
})

let proxy = computed(() => {
  return store.state.until.proxy
})

function play(song, title, image, auteur, pk) {
	if(song==store.state.player.song){
		store.commit('player/setIsPlay', true)
	}else{
		store.dispatch('player/play', {
			song: song,
			isPlay: true,
			image: image,
			title: title,
			author: auteur,
			pkTrack: pk
		})
	}
}
function pause() {
	store.commit('player/setIsPlay', false)
}
</script>

<template>

<div class="flex flex-nowrap overflow-x-auto h mx-auto md:ml-10 xm:ml-5 mt-5">
	<div class="space-x-2 flex flex-nowrap overflow-x-auto text-sm">
			<a :class="store.state.until.selectedStyle==-1 ? 'bg-blue-500/10 text-blue-500' : ''" @click="store.commit('setSelectedStyle', -1)" href="#" class="px-2 h-9 min-w-fit shadow-2xl rounded-3xl flex items-center justify-center focus:font-semibold font-semibold text-slate-500 focus:bg-blue-500/10 focus:text-blue-500">
				All categories
			</a>
			<a :class="store.state.until.selectedStyle==style.id ? 'bg-blue-500/10 text-blue-500' : ''" @click="store.commit('setSelectedStyle', style.id)" v-for="style in store.state.until.categories" :key="style" href="javascript:void(0)" class="px-2 h-9 min-w-fit rounded-3xl flex items-center justify-center text-slate-500 focus:font-semibold focus:bg-blue-500/10 focus:text-blue-500">
				{{style.name}}
			</a>
	</div>
</div>

<div class="sm:w-4/12 xm:w-4/5 mt-8 pl-10">
	<div class="">
    <input v-model="search" type="text" placeholder="Search.." id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
  </div> <br>
  <span class="font-semibold">Result:</span>
</div> <br>

<div class="flex flex-wrap justify-start sm:pl-10 sm:pr-10 xm:pl-4 xm:pr-4">
	<div class="mt-6 transition hover:-translate-y-1 slide-fade hover:scale-11 sm:mx-2 2xm:mx-auto" v-for="track in trackList" :key="track">
		<track-card
			:id="track.id"
			:title="track.title"
			:song="proxy+track.song"
			:image="proxy+track.album.image"
			:author="track.album.auteur.username"
			:playing_song="playing_song"
			@pause="pause"
			@play="play"
		/>
	</div>
</div>

</template>

<style>
</style>
