<template>
  <button @click="openModal" v-if="mode=='add'" class="text-green-600 rounded-full mr-1 hover:bg-green-800/30 p-2 w-10 h-10 backdrop-blur-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
  </button>
  <button @click="openModal" v-if="mode=='edit'" class="text-orange-600 rounded-full mr-1 hover:bg-orange-800/30 p-2 w-10 h-10 backdrop-blur-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
    </svg>
  </button>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-slate-900/50 z-50">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class=" inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900"
                v-if="mode=='add'"
              >
                Add New User
              </DialogTitle>
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-gray-900"
                v-if="mode=='edit'"
              >
                Edit User
              </DialogTitle>
              <br>
              <div class="mt-2">
                  <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    <input v-model="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="name@gmail.com" required>
                  </div>
                  <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
                    <input v-model="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                  </div>
                  <div class="mb-6 flex w-full">
                    <div class="flex items-start mb-6">
                      <div class="flex items-center h-5">
                        <div class="py-16">
                          <Switch
                            v-model="isArtist"
                            :class="isArtist ? 'bg-orange-600' : 'bg-slate-700'"
                            class="relative inline-flex flex-shrink-0 h-8 w-16 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
                          >
                            <span class="sr-only">Artist ?</span>
                            <span
                              aria-hidden="true"
                              :class="isArtist ? 'translate-x-9' : 'translate-x-0'"
                              class="pointer-events-none inline-block h-7 w-7 rounded-full bg-slate-100 shadow-lg transform ring-0 transition ease-in-out duration-200"
                            />
                          </Switch>
                        </div>
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="remember" class="font-medium text-gray-900">Artist ?</label>
                      </div>
                    </div>
                    <div class="flex items-start ml-8 mb-6">
                      <div class="flex items-center h-5">
                        <div class="py-16">
                          <Switch
                            v-model="isAdmin"
                            :class="isAdmin ? 'bg-orange-600' : 'bg-slate-700'"
                            class="relative inline-flex flex-shrink-0 h-8 w-16 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
                          >
                            <span class="sr-only">Admin ?</span>
                            <span
                              aria-hidden="true"
                              :class="isAdmin ? 'translate-x-9' : 'translate-x-0'"
                              class="pointer-events-none inline-block h-7 w-7 rounded-full bg-slate-100 shadow-lg transform ring-0 transition ease-in-out duration-200"
                            />
                          </Switch>
                        </div>
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="remember" class="font-medium text-gray-900">Admin ?</label>
                      </div>
                    </div>
                  </div>
        
                  <button v-if="mode=='add'" @click="register" :class="validateEmail(email) ? '' : 'cursor-not-allowed'" class="w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                    Add
                  </button>
                  <button v-if="mode=='edit'" @click="update(user)" :class="validateEmail(email) ? '' : 'cursor-not-allowed'" class="w-full inline-flex justify-center px-4 py-2 text-sm font-medium text-orange-900 bg-orange-50 border border-transparent rounded-md hover:bg-orange-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-orange-500">
                    Update
                  </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Switch,
} from '@headlessui/vue'
import { useStore } from 'vuex'


const emit = defineEmits(['created', 'updated'])
const props = defineProps({
  mode: String,
  pk_: Number,
  email_: String,
  is_admin_: Boolean,
  is_artist_: Boolean
})

const isOpen = ref(false)
const isArtist = ref(false)
const isAdmin = ref(false)

const store = useStore()
const email = ref('')
const password = ref('')


const validateEmail = (email) => {
  return String(email)
    .toLowerCase()
    .match(
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    )
}
const closeModal = () => {
  isOpen.value = false
}
const openModal = () => {
  if (props.pk_ != null){
    email.value = props.email_
    isAdmin.value = props.is_admin_
    isArtist.value = props.is_artist_
    console.log(props)
  }
  isOpen.value = true
}
const register = () => {
  if (validateEmail(email)){
    return
  }
  store.dispatch('userSession/register', {
    username: email.value,
    email: email.value,
    password: password.value,
    is_artist: isArtist.value,
    is_admin: isAdmin.value
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      emit('created')
      isOpen.value = false
    })
    .catch((error) => {
      console.log(error)
    })
}
const update = () => {
  if (validateEmail(email)){
    return
  }
  store.dispatch('userSession/update', {
    pk: props.pk_,
    username: email.value,
    email: email.value,
    password: password.value,
    is_artist: isArtist.value,
    is_admin: isAdmin.value,
    api_key: store.state.userSession.api_key
  })
    .then(function (response) {
      return response.json()
    })
    .then((response) => {
      emit('updated')
    })
    .catch((error) => {
      console.log(error)
    })
}

</script>
