<template>
  <button @click="openModal" class="text-red-600 rounded-full mr-1 hover:bg-red-800/30 p-2 w-10 h-10 backdrop-blur-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
  </button>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="closeModal">
      <div class="fixed inset-0 overflow-y-auto backdrop-blur-md bg-red-900/10 z-50">
        <div class="min-h-screen px-4 text-center">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <DialogOverlay class="fixed inset-0" />
          </TransitionChild>

          <span class="inline-block h-screen align-middle" aria-hidden="true">
            &#8203;
          </span>

          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <div
              class="backdrop-blur-md inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl"
            >
              <DialogTitle
                as="h3"
                class="text-lg font-medium leading-6 text-slate-600"
              >
                Delete
              </DialogTitle>
              <br>
              <div class="mt-2">
                <p class="text-slate-600">
                  Are you sure that you want to do this ?
                </p>
              </div> <br>
              <div class="mt-2">
                <button @click="deleteUser" class="w-2/5 inline-flex justify-center px-4 py-2 text-sm font-medium text-red-900 bg-red-100 border border-transparent rounded-md hover:bg-red-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-red-500">
                  Yes.
                </button>
                <button @click="closeModal" class="w-2/5 ml-3 inline-flex justify-center px-4 py-2 text-sm font-medium text-green-900 bg-green-100 border border-transparent rounded-md hover:bg-green-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-green-500">
                  No.
                </button>
              </div>
            </div>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup>
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogOverlay,
  DialogTitle,
  Switch,
} from '@headlessui/vue'
import { fetcherTimeout } from '../../../utils/fetcher'
import { useStore } from 'vuex'


const emit = defineEmits(['deleted'])
const props = defineProps({
  pk_: Number,
})

const store = useStore()
const isOpen = ref(false)

const deleteUser = function() {
	fetcherTimeout(
		5000,
		fetch('/api/core/user/'+props.pk_+'/', {
			method: 'DELETE',
			headers: {
				'Content-Type': 'application/json',
				Accept: 'application/json',
				Authorization: 'Bearer ' + store.state.userSession.api_key
			}
		})
			.then(function (response) {
				emit('deleted')
        isOpen.value = false
			})
			.catch((error) => {
				console.log(error)
			})
	)
}
const closeModal = function() {
  isOpen.value = false
}
const openModal = function() {
  isOpen.value = true
}

</script>
