<script setup>
import { PlayIcon,
         MenuAlt1Icon,
         HomeIcon,
         SearchIcon,
         ClockIcon,
         ArchiveIcon,
         UserIcon,
         HeartIcon,
         UsersIcon,
         StatusOnlineIcon,
         CogIcon,
         LogoutIcon,
         LoginIcon,
         InformationCircleIcon,
         CashIcon,
         XIcon,
         ChevronLeftIcon,
         DotsVerticalIcon } from '@heroicons/vue/outline'
  import {computed, ref} from 'vue'
  import PlayerCard from '../components/PlayerCard.vue'
  import LeftNav from "./leftSideBar/LeftNav.vue"
  import LeftNavDot from "./leftSideBar/LeftNavDot.vue"
  import RightNav from "./rightSideBar/RightNav.vue"

  import { useStore } from 'vuex'
  const store = useStore()
  const stack = computed(() => {
      return store.state.until
  })
  const menu = ref('home')
  const largeur =  ref(window.innerWidth)
  setInterval(()=>{
    largeur.value =  window.innerWidth
  } ,100)
</script>

<template>
<div class="flex h-screen bg-white dark:bg-slate-800">
  <div class="flex-1 flex flex-col overflow-hidden">
    <div class="flex h-full bg-transparent">

      <nav v-if="!store.state.until.navLeft" v-show="stack.isH" class="flex w-16 h-full dark:bg-slate-800">
        <LeftNavDot />
      </nav>
      <nav v-else v-show="stack.isH" class="flex w-96 md:h-full dark:bg-slate-800 md:static md:z-auto 2xm:-z-10 2xm:fixed 2xm:h-1/2">
        <LeftNav />
      </nav>



      <main class="flex relative h-full flex-col w-full bg-transparent dark:text-slate-300 text-slate-800 overflow-x-hidden overflow-y-auto">
        <!-- <div class="absolute md:left-10 xm:left-5 mt-2">
          <router-link
            custom
            v-slot="{isExactActive, href, navigate}"
            to="/"
          >
            <a :href="href" @click="navigate" class="focus:text-orange-500 text-sm font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
              <span class="text-blue-600 font-normal text-5xl">G</span>
              <span class="text-red-600 font-normal text-5xl">o</span>
              <span class="text-green-600 font-normal text-5xl">l</span>
              <span class="text-yellow-500 font-normal text-5xl">o</span>
              <span class="text-blue-600 font-normal text-5xl">G</span>
              <span class="text-red-600 font-normal text-5xl">o</span>
              <span class="text-blue-600 font-normal text-5xl">A</span>
              <span class="text-red-600 font-normal text-5xl">f</span>
              <span class="text-green-600 font-normal text-5xl">r</span>
              <span class="text-yellow-500 font-normal text-5xl">i</span>
              <span class="text-blue-600 font-normal text-5xl">Z</span>
            </a>
          </router-link>
	      </div> -->
        <!-- <div class="absolute left-10 mt-2">
          <router-link
            custom
            v-slot="{isExactActive, href, navigate}"
            to="/catalog/Global Top 50/top50/home"
          >
            <a :href="href" @click="navigate" class="focus:text-orange-500 text-sm font-semibold flex" :class="isExactActive ? 'text-orange-500': ''">
              <ChevronLeftIcon class="h-8 w-8"/>
            </a>
          </router-link>
	      </div> -->
        <div class="mb-36 mt-2">
          <router-view />
        </div>
        <player-card v-if="largeur<1280"/>
        <nav class="left-0 backdrop-blur-2xl bg-white/50 dark:bg-slate-800/50 bottom-0 flex items-center justify-center flex-wrap pb-1 text-blue-900 font-medium 2xm:w-full 2xm:fixed 2xm:h-12 2xm:z-auto md:-z-10 md:h-1/2">
          
          <div class="flex">
            <!-- home -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <HomeIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <HomeIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- discover -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/catalog/Discover/new/new"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <ClockIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <ClockIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- favory -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/favory"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <HeartIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <HeartIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- search -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/search"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <SearchIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <SearchIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- premium -->
            <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/premium"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <CashIcon class="h-6 w-6"/>
              </a>
              <div v-if="isExactActive" class="flex">
                  <a href="#" class="px-5 mt-1 text-sm text-center text-slate-700 rounded-lg dark:text-slate-300" aria-current="page">
                    <CashIcon class="h-7 w-7"/>
                  </a>
              </div>
            </router-link>
            <!-- setting -->
            <!-- <router-link
              custom
              v-slot="{isExactActive, href, navigate}"
              to="/premium"
            >
              <a @click="navigate" v-if="!isExactActive" :href="href" class="px-5 mt-2 text-sm text-center text-slate-500 rounded-lg dark:text-slate-400">
                <CogIcon class="h-8 w-8"/>
              </a>
              <div v-if="isExactActive" class="h-12 px-3">
                  <a href="#" class="mr-2 text-blue-600 font-bold rounded-lg active" aria-current="page">
                    <CogIcon class="h-8 w-8"/>
                    <div class="w-8 h-2 mt-1 rounded-md bg-blue-600"></div>
                  </a>
              </div>
            </router-link> -->
          </div>
      </nav>
      </main>



      <nav v-if="stack.isH" class="flex min-w-[280px] h-full dark:bg-slate-800 xl:static xl:z-40 2xm:-z-10 2xm:absolute">
        <RightNav />
      </nav>
      
    </div>
  </div>
</div>
</template>

<style>
::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e93a3;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px transparent;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
